.image-slideshow {
  position: relative;
  display: block;
  height: 83vh;
  width: 100vw;
  min-height: 500px;
}

.image-slideshow .slide-1,
.image-slideshow .slide-2,
.image-slideshow .slide-3,
.image-slideshow .slide-4,
.image-slideshow .slide-5,
.image-slideshow .slide-6 {
  position: relative;
  width: 100vw;
  height: 83vh;
  display: inline-block;
  background-position: center;
  min-height: 500px;
}

.image-slideshow h1,
.image-slideshow p {
  color: white;
  text-align: center;
}

.image-slideshow h1 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-transform: uppercase;
}

.image-slideshow p {
  font-size: 1.17rem;
  line-height: 2rem;
}

.image-slideshow .image-btn {
  text-transform: uppercase;
  padding: 21px 18px;
  background-color: #67809f;
  color: white;
  border-color: #67809f;
  border-style: none;
  border-radius: 3%;
  font-size: 1.1rem;
}

.image-slideshow .image-btn .fa-arrow-right {
  padding-left: 15px;
  font-size: 1.2rem;
}

.image-slideshow .image-btn:hover {
  cursor: pointer;
  background-color: #4e647e;
}

.image-slideshow .slide-1 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #00000078), to(#000)), url("../Images/slide-1.jpg");
  background-image: linear-gradient(270deg, #00000078 25%, #000), url("../Images/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slideshow .slide-2 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #00000078), to(#000)), url("../Images/slide-2.jpg");
  background-image: linear-gradient(270deg, #00000078 25%, #000), url("../Images/slide-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slideshow .slide-2 .image-btn {
  background-color: #4183d7;
}

.image-slideshow .slide-2 .image-btn:hover {
  cursor: pointer;
  background-color: #2a6ec6;
}

.image-slideshow .slide-3 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #00000078), to(#000)), url("../Images/slide-3.jpg");
  background-image: linear-gradient(270deg, #00000078 25%, #000), url("../Images/slide-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slideshow .slide-3 .center-button {
  width: 311px;
}

.image-slideshow .slide-3 .image-btn {
  background-color: #2ecc71;
  width: 275px;
}

.image-slideshow .slide-3 .image-btn:hover {
  cursor: pointer;
  background-color: #26ab5f;
}

.image-slideshow .slide-4 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #00000078), to(#000)), url("../Images/slide-4.jpg");
  background-image: linear-gradient(270deg, #00000078 25%, #000), url("../Images/slide-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slideshow .slide-4 .image-btn {
  background-color: #d64541;
}

.image-slideshow .slide-4 .image-btn:hover {
  cursor: pointer;
  background-color: #c42e2a;
}

.image-slideshow .slide-5 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #00000078), to(#000)), url("../Images/slide-5.jpg");
  background-image: linear-gradient(270deg, #00000078 25%, #000), url("../Images/slide-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slideshow .slide-5 .image-btn {
  background-color: #926fb1;
}

.image-slideshow .slide-5 .image-btn:hover {
  cursor: pointer;
  background-color: #7e57a0;
}

.image-slideshow .slide-6 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #00000078), to(#000)), url("../Images/slide-6.jpg");
  background-image: linear-gradient(270deg, #00000078 25%, #000), url("../Images/slide-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slideshow .slide-6 .image-btn {
  background-color: #f62459;
}

.image-slideshow .slide-6 .image-btn:hover {
  cursor: pointer;
  background-color: #e80a42;
}

.image-content-centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 90%;
  min-height: 500px;
}

.image-content {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.center-button {
  margin: 45px auto 0;
  width: 210px;
}

.slick-initialized {
  overflow: hidden;
}
/*# sourceMappingURL=image-slides.css.map */