@media screen and (min-width: 768px) {
  .cookie-pop-up {
    width: 600px;
  }
  .cookie-pop-up .cookies {
    height: 370px;
  }
  .cookie-pop-up .settings,
  .cookie-pop-up .accept {
    width: 275px;
  }
  .cookie-settings-container {
    width: 750px;
    margin: 0 auto;
  }
  .read-more-grid,
  .news-wrapper,
  .latest-fix {
    width: 740px;
    margin: 0 auto;
  }
  .phone {
    display: none;
  }
  .header {
    -ms-flex-line-pack: center;
        align-content: center;
    height: 55px;
  }
  header form {
    display: block;
    width: 250px;
    height: 40px;
    z-index: 0;
    top: -35px;
    right: 72px;
    padding-left: 0;
    padding-right: 0;
    left: unset;
  }
  header input[type=text] {
    width: 158px;
    min-width: 20px;
    height: 31px;
    margin-right: 0;
    border: 1px solid #bebec2;
    background-color: white;
    color: #5e5e62;
    -webkit-box-sizing: unset;
            box-sizing: unset;
  }
  header input[type=text]:focus {
    outline: #5bc0de solid 1px;
    -webkit-box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
            box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
  }
  header button[type=submit] {
    position: absolute;
    top: -5px;
    right: 15px;
    height: 58px;
    width: 60px;
    background-color: #999aa2;
    border-radius: 0 5% 5% 0;
    color: white;
    font-size: 1.3rem;
  }
  header button[type=submit]:hover {
    background-color: #82838a;
    cursor: pointer;
  }
  header button[type=submit] .fa-search {
    font-size: 1.55rem;
  }
  .center {
    margin: 0 auto;
    width: 740px;
    position: relative;
  }
  .menu {
    top: -30px;
    right: 0;
    height: 53px;
  }
  header img {
    max-width: 350px;
  }
  .image-slideshow {
    height: 87vh;
  }
  .image-slideshow img {
    height: 87vh;
  }
  .move-up {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .security,
  .developer {
    margin-top: 10px;
  }
  .web,
  .developer {
    margin-left: 15px;
  }
  .telecoms,
  .security {
    margin-right: 15px;
  }
  .web,
  .developer,
  .telecoms,
  .security {
    height: 260px;
    position: relative;
  }
  .web .read-more-btn,
  .developer .read-more-btn,
  .telecoms .read-more-btn,
  .security .read-more-btn {
    position: absolute;
    bottom: 30px;
    right: 114px;
  }
  .bio {
    width: 720px;
    margin: 0 auto;
  }
  .bio p {
    width: 700px;
  }
  .latest {
    width: 50px;
  }
  .partner-1,
  .partner-2 {
    display: -ms-grid;
    display: grid;
  }
  .news-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding-top: 55px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .background-fix-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(white));
    background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
  }
  .news-1,
  .news-2 {
    width: auto;
    margin: 0 15px;
    height: 560px;
  }
  .news-1 footer,
  .news-2 footer {
    margin-top: 42px;
  }
  .news-1 h3,
  .news-2 h3 {
    margin-top: 20px;
  }
  .news-1 article p,
  .news-2 article p {
    margin-top: 30px;
  }
  .news-1 footer,
  .news-2 footer {
    margin-top: 30px;
    padding-top: 13px;
  }
  .news-1 footer img,
  .news-2 footer img {
    height: 48px;
    width: 48px;
  }
  .news-1 footer p,
  .news-2 footer p {
    font-size: 0.85rem;
    padding-left: 2px;
  }
  .news-1 footer .poster,
  .news-2 footer .poster {
    color: #4b4b4b;
  }
  .news-3 {
    display: none;
  }
  .news-img {
    height: 35%;
  }
  form {
    height: 460px;
  }
  form legend {
    margin-top: 20px;
  }
  fieldset {
    width: 700px;
    margin: 0 auto;
    margin-top: -25px;
  }
  #name,
  #email {
    width: 670px;
    min-width: 650px;
  }
  label[for=marketing] {
    padding-right: 10px;
    display: inline-block;
    width: 600px;
    max-width: 90vw;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
  }
  .footer-lists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 740px;
  }
  .about-netmatters,
  .our-services {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .our-services {
    margin-left: -150px;
  }
  .footer-address {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto 40px;
    width: 740px;
  }
  hr {
    margin: 10px auto -5px;
    width: 700px;
  }
  .footnote {
    -ms-grid-columns: 370px 1fr 1fr;
        grid-template-columns: 370px 1fr 1fr;
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .cookie-settings-container {
    width: 950px;
  }
  .cookie-settings-container .can-cont-btns {
    margin-left: auto;
    margin-right: 0;
    width: 341px;
  }
  .cookie-settings-container .en-dis-btns {
    margin-left: auto;
    margin-right: 0;
    width: 190px;
  }
  .pop-out-menu {
    width: 350px;
  }
  .darken-page {
    right: 370px;
  }
  .entire-page {
    left: -350px;
  }
  .pop-out-menu .training-menu ul,
  .pop-out-menu .events-menu ul,
  .pop-out-menu .company-menu ul,
  .pop-out-menu .work-menu ul,
  .pop-out-menu .knowledge-menu ul,
  .pop-out-menu .covid-menu ul,
  .pop-out-menu .contact-menu ul,
  .pop-out-menu .support-menu ul,
  .pop-out-menu .services-menu ul {
    width: 360px;
  }
  .pop-out-menu .training-menu ul li,
  .pop-out-menu .events-menu ul li,
  .pop-out-menu .company-menu ul li,
  .pop-out-menu .work-menu ul li,
  .pop-out-menu .knowledge-menu ul li,
  .pop-out-menu .covid-menu ul li,
  .pop-out-menu .contact-menu ul li,
  .pop-out-menu .support-menu ul li,
  .pop-out-menu .services-menu ul li {
    width: 305px;
  }
  .pop-out-menu .support-menu {
    display: none;
  }
  .pop-out-menu .services-menu {
    display: block;
  }
  .bespoke-menu,
  .it-menu,
  .marketing-menu,
  .telecom-menu,
  .web-menu,
  .security-menu,
  .dev-menu,
  .contact-top {
    display: none;
  }
  .empty-menu {
    width: 360px;
  }
  .empty-menu a {
    width: 360px;
  }
  .read-more-grid,
  .news-wrapper,
  .latest-fix {
    width: 950px;
  }
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .support,
  .contact {
    position: absolute;
    display: inline-block;
    width: 140px;
    color: white;
    border: 1px solid;
    border-radius: 5%;
    z-index: 1;
    font-size: 1.15rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    height: 38px;
    top: -29px;
  }
  .support:hover,
  .contact:hover {
    cursor: pointer;
  }
  .menu {
    right: 0px;
    top: -28px;
    height: 51px;
  }
  .support {
    right: 35%;
    background-color: #4183d7;
    border-color: #4183d7;
  }
  .support:hover {
    background-color: #3265a8;
    border-color: #3265a8;
  }
  .contact {
    right: 162px;
    background-color: #999aa2;
    border-color: #999aa2;
  }
  .contact:hover {
    background-color: #77787e;
    border-color: #77787e;
  }
  .fa-mouse:before,
  .fa-paper-plane:before {
    padding-right: 8px;
  }
  header .center {
    width: 920px;
  }
  header input[type=text] {
    display: none;
  }
  header button[type=submit] {
    border-radius: 5%;
    position: absolute;
    right: 10px;
    top: -3px;
    height: 55px;
  }
  .nav-bar {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 920px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }
  .bespoke-nav:hover .bespoke-nav-sub {
    display: inline;
  }
  .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links::before {
    content: "";
    background-color: #67809f;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    right: 100%;
  }
  .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links::after {
    content: "";
    background-color: #67809f;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .bespoke-nav:hover .bespoke-nav-sub .background-fix-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (max-content)[7];
        grid-template-columns: repeat(7, -webkit-max-content);
        grid-template-columns: repeat(7, max-content);
  }
  .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links {
    width: 920px;
    position: absolute;
    bottom: -49px;
    top: 9px;
    background-color: #67809f;
    font-size: 0.8rem;
  }
  .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links .link-dash::after {
    content: "-";
    margin-left: 20px;
    margin-right: 20px;
  }
  .it-nav:hover .it-nav-sub {
    display: inline;
  }
  .it-nav:hover .it-nav-sub .nav-sub-links::before {
    content: "";
    background-color: #4183d7;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    right: 100%;
  }
  .it-nav:hover .it-nav-sub .nav-sub-links::after {
    content: "";
    background-color: #4183d7;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .it-nav:hover .it-nav-sub .background-fix-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (max-content)[6];
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
  }
  .it-nav:hover .it-nav-sub .nav-sub-links {
    width: 920px;
    position: absolute;
    bottom: -49px;
    top: 9px;
    background-color: #4183d7;
    font-size: 0.8rem;
    margin-left: -135px;
  }
  .it-nav:hover .it-nav-sub .nav-sub-links .link-dash::after {
    content: "-";
    margin-left: 20px;
    margin-right: 20px;
  }
  .marketing-nav:hover .market-nav-sub {
    display: inline;
  }
  .marketing-nav:hover .market-nav-sub .nav-sub-links::before {
    content: "";
    background-color: #2ecc71;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    right: 100%;
  }
  .marketing-nav:hover .market-nav-sub .nav-sub-links::after {
    content: "";
    background-color: #2ecc71;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .marketing-nav:hover .market-nav-sub .background-fix-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (max-content)[6];
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
  }
  .marketing-nav:hover .market-nav-sub .nav-sub-links {
    width: 920px;
    position: absolute;
    bottom: -49px;
    top: 9px;
    background-color: #2ecc71;
    font-size: 0.8rem;
    margin-left: -270px;
  }
  .marketing-nav:hover .market-nav-sub .nav-sub-links .link-dash::after {
    content: "-";
    margin-left: 20px;
    margin-right: 20px;
  }
  .telecom-nav:hover .tele-nav-sub {
    display: inline;
  }
  .telecom-nav:hover .tele-nav-sub .nav-sub-links::before {
    content: "";
    background-color: #d64541;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    right: 100%;
  }
  .telecom-nav:hover .tele-nav-sub .nav-sub-links::after {
    content: "";
    background-color: #d64541;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .telecom-nav:hover .tele-nav-sub .background-fix-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (max-content)[6];
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
  }
  .telecom-nav:hover .tele-nav-sub .nav-sub-links {
    width: 920px;
    position: absolute;
    top: 5px;
    bottom: -45px;
    background-color: #d64541;
    font-size: 0.8rem;
    margin-left: -400px;
  }
  .telecom-nav:hover .tele-nav-sub .nav-sub-links .link-dash::after {
    content: "-";
    margin-left: 20px;
    margin-right: 20px;
  }
  .web-nav:hover .web-nav-sub {
    display: inline;
  }
  .web-nav:hover .web-nav-sub .nav-sub-links::before {
    content: "";
    background-color: #926fb1;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    right: 100%;
  }
  .web-nav:hover .web-nav-sub .nav-sub-links::after {
    content: "";
    background-color: #926fb1;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .web-nav:hover .web-nav-sub .background-fix-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (max-content)[6];
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
  }
  .web-nav:hover .web-nav-sub .nav-sub-links {
    width: 920px;
    position: absolute;
    bottom: -49px;
    top: 9px;
    background-color: #926fb1;
    font-size: 0.8rem;
    margin-left: -530px;
  }
  .web-nav:hover .web-nav-sub .nav-sub-links .link-dash::after {
    content: "-";
    margin-left: 20px;
    margin-right: 20px;
  }
  .security-nav:hover .security-nav-sub {
    display: inline;
  }
  .security-nav:hover .security-nav-sub .nav-sub-links::before {
    content: "";
    background-color: #f62459;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    right: 100%;
  }
  .security-nav:hover .security-nav-sub .nav-sub-links::after {
    content: "";
    background-color: #f62459;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .security-nav:hover .security-nav-sub .background-fix-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (max-content)[6];
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
  }
  .security-nav:hover .security-nav-sub .nav-sub-links {
    width: 920px;
    position: absolute;
    bottom: -49px;
    top: 9px;
    background-color: #f62459;
    font-size: 0.8rem;
    margin-left: -660px;
  }
  .security-nav:hover .security-nav-sub .nav-sub-links .link-dash::after {
    content: "-";
    margin-left: 20px;
    margin-right: 20px;
  }
  .developer-nav:hover .dev-nav-sub {
    display: inline;
  }
  .developer-nav:hover .dev-nav-sub .nav-sub-links::before {
    content: "";
    background-color: #926fb1;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    right: 100%;
  }
  .developer-nav:hover .dev-nav-sub .nav-sub-links::after {
    content: "";
    background-color: #926fb1;
    width: 2000px;
    display: block;
    height: 40px;
    position: absolute;
    left: 100%;
    top: 0;
  }
  .developer-nav:hover .dev-nav-sub .background-fix-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
  }
  .developer-nav:hover .dev-nav-sub .nav-sub-links {
    width: 920px;
    position: absolute;
    bottom: -49px;
    top: 9px;
    background-color: #926fb1;
    font-size: 0.8rem;
    margin-left: -790px;
  }
  .developer-nav:hover .dev-nav-sub .nav-sub-links .link-dash::after {
    content: "-";
    margin-left: 20px;
    margin-right: 20px;
  }
  .background-fix-5 {
    background-color: #333645;
    display: block;
    margin-bottom: -5px;
    height: 100px;
    margin-top: -5px;
    overflow-x: -moz-hidden-unscrollable;
    overflow-x: clip;
  }
  .image-slideshow {
    height: 80vh;
  }
  .image-slideshow img {
    height: 80vh;
  }
  .image-content {
    width: 950px;
    left: 25px;
  }
  .image-content h1,
  .image-content p {
    text-align: left;
  }
  .image-content .center-button {
    margin: 45px 0 0;
  }
  .grid-top-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .it-support,
  .bespoke,
  .marketing {
    height: 285px;
    position: relative;
  }
  .it-support p,
  .bespoke p,
  .marketing p {
    font-size: 0.8rem;
  }
  .it-support .read-more-btn,
  .bespoke .read-more-btn,
  .marketing .read-more-btn {
    position: absolute;
    right: 85px;
    bottom: 30px;
  }
  .telecoms,
  .web,
  .security,
  .developer {
    height: 245px;
  }
  .telecoms .read-more-btn,
  .web .read-more-btn,
  .security .read-more-btn,
  .developer .read-more-btn {
    right: 158px;
  }
  .telecoms h3,
  .web h3,
  .security h3,
  .developer h3 {
    margin-bottom: 7px;
  }
  .background-fix-2 {
    background-image: url(../Images/logo-background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bio {
    width: 920px;
  }
  .bio p {
    width: 900px;
  }
  .news-1,
  .news-2 {
    height: 600px;
  }
  .news-1 .read-more,
  .news-2 .read-more {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .news-1 article,
  .news-2 article {
    padding-top: 15px;
  }
  .news-1 article p,
  .news-2 article p {
    margin-top: 40px;
  }
  .news-1 footer,
  .news-2 footer {
    font-size: 0.9rem;
  }
  .news-1 footer img:hover,
  .news-2 footer img:hover {
    Transform: none;
    opacity: 1;
  }
  .news-1 .news-link,
  .news-2 .news-link {
    z-index: 1;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .news-1 .news-link:hover .news-link img,
  .news-2 .news-link:hover .news-link img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0.6;
  }
  .news-1 .overflow-img,
  .news-2 .overflow-img {
    overflow: hidden;
    height: 220px;
  }
  .news-1 .overflow-img:hover img,
  .news-2 .overflow-img:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0.6;
  }
  .news-1 img,
  .news-2 img {
    height: 100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .news-1 img:hover,
  .news-2 img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0.6;
  }
  .partner-1,
  .partner-2,
  .footer-lists,
  .footer-address,
  hr,
  .footnote {
    width: 950px;
  }
  form {
    height: 350px;
  }
  fieldset {
    width: 920px;
    margin-top: -5px;
  }
  #name,
  #email {
    width: 435px;
    min-width: 420px;
  }
  label[for=marketing] {
    width: 850px;
  }
  .busseys,
  .crane,
  .beat,
  .diver {
    height: 60px;
  }
  .busseys {
    width: 160px;
  }
  .beat {
    width: 60px;
  }
  .crane {
    width: 240px;
  }
  .diver {
    width: 300px;
  }
  .hover .hover-text {
    bottom: 135%;
  }
  .partner-2 {
    grid-gap: 30px;
    padding-top: 60px;
  }
  .silver-micro {
    width: 180px;
    height: 110px;
  }
  .future-50 {
    width: 110px;
    height: 170px;
    margin-left: 25px;
  }
  .qms {
    width: 130px;
    margin-left: -45px;
  }
  .silver-norfolk {
    width: 250px;
    margin-left: -45px;
  }
  .investing-future,
  .skills-of-tomorrow {
    width: 170px;
  }
  .skills-of-tomorrow {
    margin-left: 10px;
  }
  .princess-royal {
    width: 180px;
  }
  .payment-code {
    width: 270px;
    margin-top: -36px;
    margin-left: -60px;
  }
}

@media screen and (min-width: 1260px) {
  .cookie-settings-container {
    width: 1200px;
  }
  .cookie-settings-container tbody {
    width: 1200px;
  }
  .read-more-grid,
  .bio,
  .news-wrapper,
  .latest-fix {
    width: 1200px;
  }
  header .center {
    width: 1180px;
  }
  header input[type=text] {
    display: inline-block;
    position: absolute;
    right: 69px;
    width: 230px;
    height: 29px;
    top: 2px;
  }
  header button[type=submit] {
    border-radius: 0 5% 5% 0;
  }
  header button[type=submit] .fa-search {
    font-size: 1.55rem;
  }
  .support {
    right: 49%;
  }
  .contact {
    right: 35%;
  }
  .nav-bar {
    width: 1180px;
  }
  .bespoke-nav:hover .background-fix-nav,
  .it-nav:hover .background-fix-nav,
  .marketing-nav:hover .background-fix-nav,
  .telecom-nav:hover .background-fix-nav,
  .web-nav:hover .background-fix-nav,
  .security-nav:hover .background-fix-nav,
  .developer-nav:hover .background-fix-nav {
    font-size: 1rem;
    z-index: 2;
    position: relative;
  }
  .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links {
    height: 45px;
  }
  .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links .link-dash::after {
    margin-left: 35px;
    margin-right: 35px;
  }
  .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links::before, .bespoke-nav:hover .bespoke-nav-sub .nav-sub-links::after {
    height: 45px;
  }
  .it-nav:hover .it-nav-sub .nav-sub-links {
    margin-left: -170px;
    height: 45px;
  }
  .it-nav:hover .it-nav-sub .nav-sub-links .link-dash::after {
    margin-left: 35px;
    margin-right: 35px;
  }
  .it-nav:hover .it-nav-sub .nav-sub-links::before, .it-nav:hover .it-nav-sub .nav-sub-links::after {
    height: 45px;
  }
  .marketing-nav:hover .market-nav-sub .nav-sub-links {
    margin-left: -340px;
    height: 45px;
  }
  .marketing-nav:hover .market-nav-sub .nav-sub-links .link-dash::after {
    margin-left: 35px;
    margin-right: 35px;
  }
  .marketing-nav:hover .market-nav-sub .nav-sub-links::before, .marketing-nav:hover .market-nav-sub .nav-sub-links::after {
    height: 45px;
  }
  .telecom-nav:hover .tele-nav-sub .nav-sub-links {
    margin-left: -510px;
    height: 45px;
  }
  .telecom-nav:hover .tele-nav-sub .nav-sub-links .link-dash::after {
    margin-left: 35px;
    margin-right: 35px;
  }
  .telecom-nav:hover .tele-nav-sub .nav-sub-links::before, .telecom-nav:hover .tele-nav-sub .nav-sub-links::after {
    height: 45px;
  }
  .web-nav:hover .web-nav-sub .nav-sub-links {
    margin-left: -680px;
    height: 45px;
  }
  .web-nav:hover .web-nav-sub .nav-sub-links .link-dash::after {
    margin-left: 35px;
    margin-right: 35px;
  }
  .web-nav:hover .web-nav-sub .nav-sub-links::before, .web-nav:hover .web-nav-sub .nav-sub-links::after {
    height: 45px;
  }
  .security-nav:hover .security-nav-sub .nav-sub-links {
    margin-left: -850px;
    height: 45px;
  }
  .security-nav:hover .security-nav-sub .nav-sub-links .link-dash::after {
    margin-left: 35px;
    margin-right: 35px;
  }
  .security-nav:hover .security-nav-sub .nav-sub-links::before, .security-nav:hover .security-nav-sub .nav-sub-links::after {
    height: 45px;
  }
  .developer-nav:hover .dev-nav-sub .nav-sub-links {
    margin-left: -1015px;
    height: 45px;
  }
  .developer-nav:hover .dev-nav-sub .nav-sub-links .link-dash::after {
    margin-left: 35px;
    margin-right: 35px;
  }
  .developer-nav:hover .dev-nav-sub .nav-sub-links::before, .developer-nav:hover .dev-nav-sub .nav-sub-links::after {
    height: 45px;
  }
  .image-content {
    width: 1180px;
  }
  .move-up {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .security,
  .developer {
    margin-top: 29px;
  }
  .telecoms, .security {
    margin-right: 10px;
  }
  .security,
  .developer,
  .telecoms,
  .web {
    height: 255px;
  }
  .security p,
  .developer p,
  .telecoms p,
  .web p {
    margin-top: 5px;
  }
  .security .read-more-btn,
  .developer .read-more-btn,
  .telecoms .read-more-btn,
  .web .read-more-btn {
    right: 70px;
  }
  .bespoke,
  .it-support,
  .marketing {
    height: 265px;
  }
  .bespoke p,
  .it-support p,
  .marketing p {
    font-size: 0.85rem;
  }
  .bespoke .read-more-btn,
  .it-support .read-more-btn,
  .marketing .read-more-btn {
    right: 127px;
  }
  .bio p {
    width: 550px;
  }
  .news-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .news-3 {
    display: block;
    margin: 0 15px;
    height: 600px;
    width: auto;
  }
  .news-3 .read-more {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .news-3 h3 {
    margin-top: 20px;
  }
  .news-3 article {
    padding-top: 15px;
  }
  .news-3 article p {
    margin-top: 40px;
  }
  .news-3 footer {
    padding-top: 13px;
  }
  .news-3 footer img {
    height: 48px;
    width: 48px;
  }
  .news-3 footer img:hover {
    Transform: none;
    opacity: 1;
  }
  .news-3 footer .poster {
    color: #4b4b4b;
  }
  .news-3 .news-link {
    z-index: 1;
  }
  .news-3 .overflow-img {
    overflow: hidden;
    height: 220px;
  }
  .news-3 .overflow-img:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0.6;
  }
  .news-3 img {
    height: 100%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .news-3 img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.6;
  }
  .news-1 .read-more,
  .news-2 .read-more,
  .news-3 .read-more {
    margin-top: 25px;
  }
  .news-1 footer,
  .news-2 footer,
  .news-3 footer {
    margin-top: 27px;
    font-size: 0.9rem;
  }
  #name,
  #email {
    width: 550px;
  }
  label[for=marketing] {
    width: 1080px;
  }
  fieldset {
    width: 1160px;
  }
  .partner-1,
  .footer-lists,
  .footer-address {
    width: 1200px;
  }
  .footnote {
    width: 1180px;
  }
  .footer {
    width: 1240px;
    margin: 0 auto;
  }
  .footer-lists,
  .footer-address {
    display: -ms-inline-grid;
    display: inline-grid;
  }
  .footer-lists {
    width: 500px;
    margin-bottom: 30px;
  }
  .about-netmatters {
    margin-left: -30px;
  }
  .footer-address {
    width: 700px;
  }
  .our-services {
    margin-left: -100px;
  }
  .partner-2 {
    width: 1100px;
    grid-gap: 30px 80px;
  }
  .silver-micro {
    width: 120px;
    height: 70px;
  }
  .future-50 {
    width: 55px;
    height: 90px;
  }
  .qms {
    width: 70px;
  }
  .silver-norfolk {
    width: 180px;
  }
  .investing-future,
  .skills-of-tomorrow {
    width: 170px;
  }
  .payment-code {
    width: 270px;
    margin-top: -50px;
  }
}
/*# sourceMappingURL=media-queries.css.map */