.pop-out-menu {
  display: none;
  background-color: #333645;
  color: white;
  width: 275px;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
}

.pop-out-menu ul {
  padding-left: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3%;
  width: 220px;
  margin: 0 auto;
  line-height: 1.5rem;
}

.pop-out-menu ul li:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.pop-out-menu ul li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.pop-out-menu li {
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.pop-out-menu li a {
  width: 214px;
  display: block;
  margin: -10px;
  padding: 10px 10px 10px 0;
}

.pop-out-menu li a:hover {
  text-decoration: none;
}

.pop-out-menu .dev-menu ul {
  margin-bottom: 15px;
}

.pop-out-menu .bespoke-menu:hover .menu-title,
.pop-out-menu .it-menu:hover .menu-title,
.pop-out-menu .marketing-menu:hover .menu-title,
.pop-out-menu .telecom-menu:hover .menu-title,
.pop-out-menu .web-menu:hover .menu-title,
.pop-out-menu .security-menu:hover .menu-title,
.pop-out-menu .dev-menu:hover .menu-title {
  background-color: rgba(255, 255, 255, 0.05);
}

.pop-out-menu .services-menu {
  display: none;
}

.pop-out-menu .training-menu .menu-title-2,
.pop-out-menu .events-menu .menu-title-2,
.pop-out-menu .company-menu .menu-title-2,
.pop-out-menu .work-menu .menu-title-2,
.pop-out-menu .knowledge-menu .menu-title-2,
.pop-out-menu .covid-menu .menu-title-2,
.pop-out-menu .contact-menu .menu-title-2,
.pop-out-menu .support-menu .menu-title-2,
.pop-out-menu .services-menu .menu-title-2 {
  padding: 0 5px 0 25px;
  margin-left: -10px;
  margin-right: -10px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  height: 47px;
}

.pop-out-menu .training-menu ul,
.pop-out-menu .events-menu ul,
.pop-out-menu .company-menu ul,
.pop-out-menu .work-menu ul,
.pop-out-menu .knowledge-menu ul,
.pop-out-menu .covid-menu ul,
.pop-out-menu .contact-menu ul,
.pop-out-menu .support-menu ul,
.pop-out-menu .services-menu ul {
  width: 300px;
  margin: 0 -10px;
  border-radius: 0;
}

.pop-out-menu .training-menu ul li,
.pop-out-menu .events-menu ul li,
.pop-out-menu .company-menu ul li,
.pop-out-menu .work-menu ul li,
.pop-out-menu .knowledge-menu ul li,
.pop-out-menu .covid-menu ul li,
.pop-out-menu .contact-menu ul li,
.pop-out-menu .support-menu ul li,
.pop-out-menu .services-menu ul li {
  width: 230px;
  text-align: left;
  padding: 10px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  font-size: 0.9rem;
}

.pop-out-menu .training-menu ul li a,
.pop-out-menu .events-menu ul li a,
.pop-out-menu .company-menu ul li a,
.pop-out-menu .work-menu ul li a,
.pop-out-menu .knowledge-menu ul li a,
.pop-out-menu .covid-menu ul li a,
.pop-out-menu .contact-menu ul li a,
.pop-out-menu .support-menu ul li a,
.pop-out-menu .services-menu ul li a {
  width: 260px;
}

.pop-out-menu .training-menu ul li a:before,
.pop-out-menu .events-menu ul li a:before,
.pop-out-menu .company-menu ul li a:before,
.pop-out-menu .work-menu ul li a:before,
.pop-out-menu .knowledge-menu ul li a:before,
.pop-out-menu .covid-menu ul li a:before,
.pop-out-menu .contact-menu ul li a:before,
.pop-out-menu .support-menu ul li a:before,
.pop-out-menu .services-menu ul li a:before {
  content: '\00bb';
  padding-right: 15px;
}

.pop-out-menu .training-menu:hover .menu-title-2,
.pop-out-menu .events-menu:hover .menu-title-2,
.pop-out-menu .company-menu:hover .menu-title-2,
.pop-out-menu .work-menu:hover .menu-title-2,
.pop-out-menu .knowledge-menu:hover .menu-title-2,
.pop-out-menu .covid-menu:hover .menu-title-2,
.pop-out-menu .contact-menu:hover .menu-title-2,
.pop-out-menu .support-menu:hover .menu-title-2,
.pop-out-menu .services-menu:hover .menu-title-2 {
  background-color: rgba(255, 255, 255, 0.05);
}

.darken-page {
  display: none;
  background: #000;
  opacity: 0.4;
  position: fixed;
  top: -56px;
  right: 295px;
  width: 100%;
  height: 120%;
  z-index: 10;
  cursor: pointer;
}

.entire-page {
  top: 0;
  left: -295px;
}

.contact-top {
  margin: 15px auto;
  width: 200px;
  height: 38px;
  padding: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 3%;
  padding-top: 15px;
  padding-bottom: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.contact-top:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.menu-title {
  margin: 15px auto;
  width: 200px;
  height: 90px;
  padding: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 3%;
  padding-top: 25px;
  padding-bottom: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
}

.empty-menu {
  width: 300px;
  height: 47px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-left: -10px;
}

.empty-menu a {
  width: 300px;
  height: 47px;
  display: block;
}

.empty-menu:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
/*# sourceMappingURL=menu.css.map */