@charset "UTF-8";
footer {
  background-color: #333645;
  color: white;
}

hr {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.footer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
  font-size: 0.85rem;
  margin: 0 10px;
}

.footer address {
  font-style: normal;
}

.footer h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footnote {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  padding: 7px;
  margin: 0 10px;
}

p a:hover,
.tel:hover {
  text-decoration: underline;
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 120px;
  height: 22px;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: 10px;
  text-align: center;
}

.footer-lists {
  line-height: .7rem;
}

.fa-facebook-f:hover {
  border: 9px solid #3b5998;
  background-color: #3b5998;
  border-radius: 50%;
  width: 12px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.fa-twitter:hover {
  border: 9px solid #00aced;
  background-color: #00aced;
  border-radius: 50%;
  width: 12px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.fa-instagram:hover {
  border: 9px solid #d93175;
  background-color: #d93175;
  border-radius: 50%;
  width: 12px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.fa-linkedin-in:hover {
  border: 9px solid #0077b5;
  background-color: #0077b5;
  border-radius: 50%;
  width: 12px;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.footer-lists,
.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-address {
  margin-bottom: 40px;
}

.about-netmatters {
  width: 187px;
}

.our-services {
  width: 179px;
}

.address-2 {
  padding: 0 5px;
}

form {
  background-color: #ddd;
  color: #333645;
  padding: 20px;
  font-size: 1.2rem;
}

fieldset {
  border-style: none;
}

legend {
  font-size: 2rem;
  padding-top: 30px;
  max-width: 95%;
}

input[type=text] {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 20px 20px 0px;
  padding: 12px 8px;
  min-width: 85vw;
}

input[type=text]:focus {
  outline: #5bc0de solid 1px;
  -webkit-box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
          box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
}

.asterisk:after {
  content: "*";
  color: red;
  padding-left: 5px;
}

.name, .email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

input[type=submit] {
  background-color: #333645;
  color: white;
  padding: 15px 17px;
  border-radius: 5%;
  margin: 22px 0px;
  text-transform: uppercase;
  border-style: none;
  font-size: 0.95rem;
}

input[type=submit]:hover {
  background-color: #242424;
  cursor: pointer;
}

input[type=checkbox] {
  float: left;
  margin-bottom: 67px;
  margin-left: -1px;
}

input[type=checkbox],
label[for=marketing] {
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 15px;
  line-height: 2rem;
}

label[for=marketing] {
  font-size: 1rem;
  margin-left: 5px;
  max-width: 80vw;
  display: inline-block;
}

form a {
  text-decoration: underline;
}

form a:hover {
  color: black;
}

input[type=checkbox] {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  outline: #333645 solid 3px;
  outline-offset: -2px;
  display: inline-block;
  accent-color: #333645;
}

input[type=checkbox]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.bio {
  color: white;
  padding: 25px 5px 40px 20px;
  line-height: 2rem;
}

.bio h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
}

.bio p {
  font-size: .96rem;
  width: 90vw;
}

.background-fix-2 {
  background-color: #333645;
}

.lead-para {
  font-weight: bold;
}

.culture-but {
  padding: 5px 0 12px 13px;
  margin-top: 10px;
  height: 27px;
  width: 155px;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 5%;
}

.culture-but:after {
  content: '\2192';
  padding-left: 10px;
}

.culture-but:hover {
  cursor: pointer;
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.latest {
  background-color: white;
  padding: 30px 10px 20px 0;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  width: 50px;
  margin-left: 17px;
}

.news-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 0 0 30px 0;
  padding-top: 10px;
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(white));
  background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-1,
.news-2,
.news-3 {
  position: relative;
  border: 1px solid #bdbdbd;
  border-radius: 1%;
  margin: 30px 0px;
  width: 93vw;
  background-color: white;
  color: gray;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.news-1 .read-more,
.news-2 .read-more,
.news-3 .read-more {
  background-color: #926fb1;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 11px 15px;
  border-radius: 5%;
  font-size: 1.05rem;
  margin-top: 22px;
  margin-bottom: 22px;
  width: 100px;
  text-align: center;
}

.news-1 .read-more:hover,
.news-2 .read-more:hover,
.news-3 .read-more:hover {
  background-color: #7949a3;
}

.news-1 h3,
.news-2 h3,
.news-3 h3 {
  color: #926fb1;
}

.news-1 h3:hover,
.news-2 h3:hover,
.news-3 h3:hover {
  text-decoration: underline;
}

.news-1 footer,
.news-2 footer,
.news-3 footer {
  background-color: white;
  color: black;
  border-top: 1px solid #bdbdbd;
  margin-top: 10px;
  line-height: 1rem;
}

.news-1 h3,
.news-1 footer,
.news-1 p,
.news-1 .read-more,
.news-2 h3,
.news-2 footer,
.news-2 p,
.news-2 .read-more,
.news-3 h3,
.news-3 footer,
.news-3 p,
.news-3 .read-more {
  margin-left: 25px;
  margin-right: 25px;
}

.poster-img {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.news-img {
  height: 50%;
  width: 100%;
}

.news-height {
  height: 270px;
}

.poster {
  margin-top: 20px;
  font-weight: bold;
}

.date {
  color: gray;
  margin-top: -5px;
}

.news-link {
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #926fb1;
  color: white;
  width: 50px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: -5px;
}

.news-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.read-more-grid {
  display: -ms-grid;
  display: grid;
}

.background-fix {
  background-color: #f1f1f1;
}

.bespoke,
.it-support,
.marketing,
.telecoms,
.web,
.security,
.developer {
  border: 1px solid #b9b9b9;
  border-radius: 1%;
  background-color: white;
  color: #333645;
  margin: 30px 10px;
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.1rem;
  padding: 30px;
}

.bespoke h3,
.it-support h3,
.marketing h3,
.telecoms h3,
.web h3,
.security h3,
.developer h3 {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 3px;
  padding: 0 20px;
}

.bespoke .read-more-btn,
.it-support .read-more-btn,
.marketing .read-more-btn,
.telecoms .read-more-btn,
.web .read-more-btn,
.security .read-more-btn,
.developer .read-more-btn {
  padding: 13px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: white;
  border: 1px solid;
  border-radius: 5%;
  width: 100px;
  margin: 0 auto;
}

.header-border {
  border-bottom: 3px solid black;
  background-color: black;
  width: 25px;
  display: inline-block;
  padding-top: 0px;
}

.bespoke .read-more-btn {
  background-color: #67809f;
  border-color: #67809f;
}

.bespoke .bespoke-icon {
  border: 2px solid #67809f;
  border-radius: 50%;
  background-color: #67809f;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.bespoke:hover {
  background-color: #67809f;
  cursor: pointer;
  color: white;
}

.bespoke:hover h3 {
  border-color: white;
}

.bespoke:hover .read-more-btn {
  background-color: white;
  border-color: white;
  color: #67809f;
  cursor: pointer;
}

.bespoke:hover .bespoke-icon {
  border-color: white;
  background-color: white;
  color: #67809f;
}

.bespoke:hover .header-border {
  border-color: white;
}

.it-support .read-more-btn {
  background-color: #4183d7;
  border-color: #4183d7;
}

.it-support .it-icon {
  border: 2px solid #4183d7;
  border-radius: 50%;
  background-color: #4183d7;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.it-support:hover {
  background-color: #4183d7;
  cursor: pointer;
  color: white;
}

.it-support:hover h3 {
  border-color: white;
}

.it-support:hover .read-more-btn {
  background-color: white;
  border-color: white;
  color: #4183d7;
  cursor: pointer;
}

.it-support:hover .it-icon {
  border-color: white;
  background-color: white;
  color: #4183d7;
}

.it-support:hover .header-border {
  border-color: white;
}

.marketing .read-more-btn {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.marketing .market-icon {
  border: 2px solid #2ecc71;
  border-radius: 50%;
  background-color: #2ecc71;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.marketing:hover {
  background-color: #2ecc71;
  cursor: pointer;
  color: white;
}

.marketing:hover h3 {
  border-color: white;
}

.marketing:hover .read-more-btn {
  background-color: white;
  border-color: white;
  color: #2ecc71;
  cursor: pointer;
}

.marketing:hover .market-icon {
  border-color: white;
  background-color: white;
  color: #2ecc71;
}

.marketing:hover .header-border {
  border-color: white;
}

.telecoms .read-more-btn {
  background-color: #d64541;
  border-color: #d64541;
}

.telecoms .tele-icon {
  border: 2px solid #d64541;
  border-radius: 50%;
  background-color: #d64541;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.telecoms:hover {
  background-color: #d64541;
  cursor: pointer;
  color: white;
}

.telecoms:hover h3 {
  border-color: white;
}

.telecoms:hover .read-more-btn {
  background-color: white;
  border-color: white;
  color: #d64541;
  cursor: pointer;
}

.telecoms:hover .tele-icon {
  border-color: white;
  background-color: white;
  color: #d64541;
}

.telecoms:hover .header-border {
  border-color: white;
}

.web .read-more-btn {
  background-color: #926fb1;
  border-color: #926fb1;
}

.web .web-icon {
  border: 2px solid #926fb1;
  border-radius: 50%;
  background-color: #926fb1;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.web:hover {
  background-color: #926fb1;
  cursor: pointer;
  color: white;
}

.web:hover h3 {
  border-color: white;
}

.web:hover .read-more-btn {
  background-color: white;
  border-color: white;
  color: #926fb1;
  cursor: pointer;
}

.web:hover .web-icon {
  border-color: white;
  background-color: white;
  color: #926fb1;
}

.web:hover .header-border {
  border-color: white;
}

.security .read-more-btn {
  background-color: #f62459;
  border-color: #f62459;
}

.security .security-icon {
  border: 2px solid #f62459;
  border-radius: 50%;
  background-color: #f62459;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.security:hover {
  background-color: #f62459;
  cursor: pointer;
  color: white;
}

.security:hover h3 {
  border-color: white;
}

.security:hover .read-more-btn {
  background-color: white;
  border-color: white;
  color: #f62459;
  cursor: pointer;
}

.security:hover .security-icon {
  border-color: white;
  background-color: white;
  color: #f62459;
}

.security:hover .header-border {
  border-color: white;
}

.developer .read-more-btn {
  background-color: #926fb1;
  border-color: #926fb1;
}

.developer .developer-icon {
  border: 2px solid #926fb1;
  border-radius: 50%;
  background-color: #926fb1;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.developer:hover {
  background-color: #926fb1;
  cursor: pointer;
  color: white;
}

.developer:hover h3 {
  border-color: white;
}

.developer:hover .read-more-btn {
  background-color: white;
  border-color: white;
  color: #926fb1;
  cursor: pointer;
}

.developer:hover .developer-icon {
  border-color: white;
  background-color: white;
  color: #926fb1;
}

.developer:hover .header-border {
  border-color: white;
}

.move-up {
  margin-top: -25px;
}

.image-slideshow {
  position: relative;
  background-image: url("../Images/placeholder stock.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 83vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
}

.image-slideshow:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(25%, transparent), to(#000));
  background: linear-gradient(270deg, transparent 25%, #000);
}

.image-slideshow h1,
.image-slideshow p {
  color: white;
  text-align: center;
}

.image-slideshow h1 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-transform: uppercase;
}

.image-slideshow p {
  font-size: 1.17rem;
  line-height: 2rem;
}

.image-slideshow .image-btn {
  text-transform: uppercase;
  padding: 21px 18px;
  background-color: #67809f;
  color: white;
  border-color: #67809f;
  border-style: none;
  border-radius: 3%;
  font-size: 1.1rem;
}

.image-slideshow .image-btn:after {
  content: "→";
  padding-left: 15px;
}

.image-slideshow .image-btn:hover {
  cursor: pointer;
  background-color: #4e647e;
}

.image-content {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.center-button {
  margin: 45px auto 0;
  width: 210px;
}

header {
  display: relative;
  margin-bottom: 5px;
  height: 103px;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  background-color: white;
  margin: 0;
  padding: 0;
  top: 95px;
  position: absolute;
  right: 13px;
  left: 10px;
  height: 70px;
}

header img {
  width: 65vw;
  max-width: 400px;
  margin: 56px 15px 0 10px;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header input[type=text] {
  background-color: #e7e7e7;
  border: 2px solid #c9c9c9;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-right: 0;
  width: 95%;
}

header input[type=text]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header button[type=submit] {
  height: 35px;
  margin-top: 10px;
  border-style: none;
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  background-color: #e7e7e7;
}

header button[type=submit]:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.support, .contact {
  display: none;
}

.phone {
  position: absolute;
  top: 45px;
  right: 90px;
  color: #333645;
}

.phone:hover {
  text-decoration: underline;
  color: #24262e;
  border-bottom: 2px solid black;
}

.fa-bars {
  font-size: 1.7rem;
  margin-bottom: 3px;
}

.fa-phone-alt {
  font-size: 1.4rem;
}

.menu {
  position: absolute;
  right: 12px;
  top: 27px;
  background-color: #333645;
  color: white;
  text-transform: uppercase;
  width: 65px;
  height: 55px;
  border-color: #333645;
  border-radius: 5%;
  padding: 0px;
  padding-top: 5px;
  z-index: 1;
  text-align: center;
}

.menu:hover {
  background-color: #24262e;
  cursor: pointer;
}

.nav-bar,
.background-fix-5 {
  display: none;
}

.small-text {
  font-size: 0.6rem;
  line-height: 0.1rem;
  margin-top: 13px;
  margin-bottom: -14px;
}

.large-text {
  font-size: 1.2rem;
}

.bespoke-nav,
.it-nav,
.marketing-nav,
.telecom-nav,
.web-nav,
.security-nav,
.developer-nav {
  border: 1px solid #424242;
  padding: 20px 0 5px;
}

.bespoke-nav p,
.it-nav p,
.marketing-nav p,
.telecom-nav p,
.web-nav p,
.security-nav p,
.developer-nav p {
  text-transform: uppercase;
}

.bespoke-icon {
  color: #67809f;
}

.bespoke-nav:hover {
  background-color: #67809f;
  cursor: pointer;
}

.bespoke-nav:hover .bespoke-icon {
  color: white;
}

.it-icon {
  color: #4183d7;
}

.it-nav:hover {
  background-color: #4183d7;
  cursor: pointer;
}

.it-nav:hover .it-icon {
  color: white;
}

.market-icon {
  color: #2ecc71;
}

.marketing-nav:hover {
  background-color: #2ecc71;
  cursor: pointer;
}

.marketing-nav:hover .market-icon {
  color: white;
}

.tele-icon {
  color: #d64541;
}

.telecom-nav:hover {
  background-color: #d64541;
  cursor: pointer;
}

.telecom-nav:hover .tele-icon {
  color: white;
}

.web-icon {
  color: #926fb1;
}

.web-nav:hover {
  background-color: #926fb1;
  cursor: pointer;
}

.web-nav:hover .web-icon {
  color: white;
}

.security-icon {
  color: #f62459;
}

.security-nav:hover {
  background-color: #f62459;
  cursor: pointer;
}

.security-nav:hover .security-icon {
  color: white;
}

.developer-icon {
  color: #926fb1;
}

.developer-nav:hover {
  background-color: #926fb1;
  cursor: pointer;
}

.developer-nav:hover .developer-icon {
  color: white;
}

.partner-1,
.partner-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 740px;
  margin: 0 auto;
  justify-items: center;
}

.partner-2 {
  grid-gap: 20px;
  padding-top: 40px;
}

.busseys,
.crane,
.diver {
  margin: 0 auto;
  padding: 20px;
}

.busseys {
  width: 120px;
}

.beat {
  width: 50px;
}

.crane {
  width: 190px;
}

.diver {
  width: 200px;
}

.crane,
.diver {
  padding-left: 30px;
}

.beat,
.busseys,
.crane,
.diver {
  padding-bottom: 40px;
  padding-top: 10px;
}

.background-fix-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(white));
  background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
}

.partner-1 {
  padding-top: 40px;
}

.silver-micro {
  width: 130px;
  margin-left: 100px;
}

.future-50 {
  width: 70px;
}

.qms {
  width: 90px;
}

.silver-norfolk {
  width: 190px;
  margin-right: 90px;
}

.investing-future,
.skills-of-tomorrow {
  width: 130px;
}

.investing-future {
  margin-left: -50px;
}

.princess-royal {
  width: 140px;
  margin-left: -35px;
}

.payment-code {
  width: 190px;
  margin-left: -30px;
  margin-top: -25px;
}

.beat,
.busseys,
.crane,
.diver,
.silver-micro,
.future-50,
.qms,
.silver-norfolk,
.investing-future,
.princess-royal,
.skills-of-tomorrow,
.payment-code {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.beat:hover,
.busseys:hover,
.crane:hover,
.diver:hover,
.silver-micro:hover,
.future-50:hover,
.qms:hover,
.silver-norfolk:hover,
.investing-future:hover,
.princess-royal:hover,
.skills-of-tomorrow:hover,
.payment-code:hover {
  -webkit-filter: none;
          filter: none;
}

.hover {
  position: relative;
  display: inline-block;
}

.hover .hover-text {
  visibility: hidden;
  width: 200px;
  background-color: #333645;
  color: white;
  text-align: center;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  bottom: 138%;
  left: 47%;
  margin-left: -110px;
  font-size: 0.85rem;
  border-bottom: 1px solid #333645;
}

.hover:hover .hover-text {
  visibility: visible;
}

.hover .hover-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 39%;
  margin-left: -5px;
  border-width: 30px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.hover-text h4 {
  position: relative;
}

.hover-text h4::after {
  content: "";
  background: white;
  position: absolute;
  bottom: -10px;
  left: 85px;
  height: 3px;
  width: 15%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: auto;
  background-color: #fefefe;
}

li {
  list-style: none;
}

li a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

.partner-2, .partner-1 {
  display: none;
}

@media screen and (min-width: 768px) {
  .read-more-grid,
  .news-wrapper,
  .latest-fix {
    width: 740px;
    margin: 0 auto;
  }
  .phone {
    display: none;
  }
  header {
    -ms-flex-line-pack: center;
        align-content: center;
    height: 55px;
  }
  header form {
    display: block;
    width: 250px;
    height: 40px;
    z-index: 0;
    top: -35px;
    right: 72px;
    padding-left: 0;
    padding-right: 0;
    left: unset;
  }
  header input[type=text] {
    width: 158px;
    min-width: 20px;
    height: 31px;
    margin-right: 0;
    border: 1px solid #999aa2;
    background-color: white;
    color: #999aa2;
    font-size: 1.1rem;
    -webkit-box-sizing: unset;
            box-sizing: unset;
  }
  header input[type=text]:focus {
    outline: #5bc0de solid 1px;
    -webkit-box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
            box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
  }
  header button[type=submit] {
    position: absolute;
    top: -5px;
    right: 15px;
    height: 58px;
    width: 60px;
    background-color: #999aa2;
    border-radius: 0 5% 5% 0;
    color: white;
    font-size: 1.3rem;
  }
  header button[type=submit]:hover {
    background-color: #82838a;
    cursor: pointer;
  }
  .center {
    margin: 0 auto;
    width: 740px;
    position: relative;
  }
  .menu {
    top: -30px;
    height: 53px;
  }
  header img {
    max-width: 350px;
  }
  .image-slideshow {
    height: 87vh;
  }
  .move-up {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .security,
  .developer {
    margin-top: 10px;
  }
  .web,
  .developer {
    margin-left: 15px;
  }
  .telecoms,
  .security {
    margin-right: 15px;
  }
  .web,
  .developer,
  .telecoms,
  .security {
    height: 260px;
    position: relative;
  }
  .web .read-more-btn,
  .developer .read-more-btn,
  .telecoms .read-more-btn,
  .security .read-more-btn {
    position: absolute;
    bottom: 30px;
    right: 114px;
  }
  .bio {
    width: 720px;
    margin: 0 auto;
  }
  .bio p {
    width: 700px;
  }
  .latest {
    width: 50px;
  }
  .partner-1,
  .partner-2 {
    display: -ms-grid;
    display: grid;
  }
  .news-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding-top: 55px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .background-fix-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(white));
    background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
  }
  .news-1,
  .news-2 {
    width: auto;
    margin: 0 15px;
    height: 560px;
  }
  .news-1 footer,
  .news-2 footer {
    margin-top: 42px;
  }
  .news-1 h3,
  .news-2 h3 {
    margin-top: 15px;
  }
  .news-1 article p,
  .news-2 article p {
    margin-top: 30px;
  }
  .news-3 {
    display: none;
  }
  .news-img {
    height: 35%;
  }
  form {
    height: 460px;
  }
  form legend {
    margin-top: 20px;
  }
  fieldset {
    width: 700px;
    margin: 0 auto;
    margin-top: -25px;
  }
  #name,
  #email {
    width: 670px;
    min-width: 650px;
  }
  label[for=marketing] {
    padding-right: 10px;
    display: inline-block;
    width: 600px;
    max-width: 90vw;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
  }
  .footer-lists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 740px;
  }
  .about-netmatters,
  .our-services {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .our-services {
    margin-left: -150px;
  }
  .footer-address {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto 40px;
    width: 740px;
  }
  hr {
    margin: 10px auto -5px;
    width: 700px;
  }
  .footnote {
    -ms-grid-columns: 370px 1fr 1fr;
        grid-template-columns: 370px 1fr 1fr;
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .read-more-grid,
  .news-wrapper,
  .latest-fix {
    width: 950px;
  }
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .support,
  .contact {
    position: absolute;
    display: inline-block;
    width: 140px;
    color: white;
    border: 1px solid;
    border-radius: 5%;
    z-index: 1;
    font-size: 1.15rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    height: 38px;
    top: -29px;
  }
  .support:hover,
  .contact:hover {
    cursor: pointer;
  }
  .menu {
    right: 0px;
    top: -28px;
    height: 51px;
  }
  .support {
    right: 35%;
    background-color: #4183d7;
    border-color: #4183d7;
  }
  .support:hover {
    background-color: #3265a8;
    border-color: #3265a8;
  }
  .contact {
    right: 162px;
    background-color: #999aa2;
    border-color: #999aa2;
  }
  .contact:hover {
    background-color: #77787e;
    border-color: #77787e;
  }
  .fa-mouse:before,
  .fa-paper-plane:before {
    padding-right: 8px;
  }
  header .center {
    width: 920px;
  }
  header input[type=text] {
    display: none;
  }
  header button[type=submit] {
    border-radius: 5%;
    position: absolute;
    right: 10px;
    top: -3px;
    height: 55px;
  }
  .nav-bar {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 920px;
    margin: 0 auto;
    text-align: center;
    color: white;
  }
  .background-fix-5 {
    background-color: #333645;
    display: block;
    margin-bottom: -5px;
    height: 100px;
    margin-top: -5px;
  }
  .image-slideshow {
    height: 80vh;
  }
  .image-content {
    width: 950px;
    left: 25px;
  }
  .image-content h1,
  .image-content p {
    text-align: left;
  }
  .image-content .center-button {
    margin: 45px 0 0;
  }
  .grid-top-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .it-support,
  .bespoke,
  .marketing {
    height: 278px;
    position: relative;
  }
  .it-support .read-more-btn,
  .bespoke .read-more-btn,
  .marketing .read-more-btn {
    position: absolute;
    right: 85px;
    bottom: 30px;
  }
  .telecoms .read-more-btn,
  .web .read-more-btn,
  .security .read-more-btn,
  .developer .read-more-btn {
    right: 158px;
  }
  .background-fix-2 {
    background-image: url(../Images/logo-background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bio {
    width: 920px;
  }
  .bio p {
    width: 900px;
  }
  .news-1,
  .news-2 {
    height: 600px;
  }
  .news-1 .read-more,
  .news-2 .read-more {
    margin-top: 60px;
    margin-bottom: -7px;
  }
  .news-1 article p,
  .news-2 article p {
    margin-top: 40px;
  }
  .news-1 footer,
  .news-2 footer {
    font-size: 0.9rem;
  }
  .news-1 .news-link,
  .news-2 .news-link {
    z-index: 1;
  }
  .news-1 .overflow-img,
  .news-2 .overflow-img {
    overflow: hidden;
    height: 220px;
  }
  .news-1 img,
  .news-2 img {
    height: 100%;
  }
  .news-1 img:hover,
  .news-2 img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0.6;
  }
  .partner-1,
  .partner-2,
  .footer-lists,
  .footer-address,
  hr,
  .footnote {
    width: 950px;
  }
  form {
    height: 350px;
  }
  fieldset {
    width: 920px;
    margin-top: -5px;
  }
  #name,
  #email {
    width: 435px;
    min-width: 420px;
  }
  label[for=marketing] {
    width: 850px;
  }
  .busseys,
  .crane,
  .beat,
  .diver {
    height: 60px;
  }
  .busseys {
    width: 160px;
  }
  .beat {
    width: 60px;
  }
  .crane {
    width: 240px;
  }
  .diver {
    width: 300px;
  }
  .hover .hover-text {
    bottom: 135%;
  }
  .partner-2 {
    grid-gap: 30px;
    padding-top: 60px;
  }
  .silver-micro {
    width: 180px;
    height: 110px;
  }
  .future-50 {
    width: 110px;
    height: 170px;
    margin-left: 25px;
  }
  .qms {
    width: 130px;
    margin-left: -45px;
  }
  .silver-norfolk {
    width: 250px;
    margin-left: -45px;
  }
  .investing-future,
  .skills-of-tomorrow {
    width: 170px;
  }
  .skills-of-tomorrow {
    margin-left: 10px;
  }
  .princess-royal {
    width: 180px;
  }
  .payment-code {
    width: 270px;
    margin-top: -36px;
    margin-left: -60px;
  }
}

@media screen and (min-width: 1260px) {
  .read-more-grid,
  .bio,
  .news-wrapper,
  .latest-fix {
    width: 1200px;
  }
  header .center {
    width: 1180px;
  }
  header input[type=text] {
    display: inline-block;
    position: absolute;
    right: 69px;
    width: 230px;
    height: 29px;
    top: 2px;
  }
  .support {
    right: 49%;
  }
  .contact {
    right: 35%;
  }
  .nav-bar {
    width: 1180px;
  }
  .image-content {
    width: 1180px;
  }
  .move-up {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .security,
  .developer {
    margin-top: 29px;
  }
  .telecoms, .security {
    margin-right: 10px;
  }
  .security p,
  .developer p,
  .telecoms p,
  .web p {
    margin-top: 5px;
  }
  .security .read-more-btn,
  .developer .read-more-btn,
  .telecoms .read-more-btn,
  .web .read-more-btn {
    right: 70px;
  }
  .bespoke .read-more-btn,
  .it-support .read-more-btn,
  .marketing .read-more-btn {
    right: 127px;
  }
  .bio p {
    width: 550px;
  }
  .news-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .news-3 {
    display: block;
    margin: 0 15px;
    height: 600px;
    width: auto;
  }
  .news-3 .read-more {
    margin-top: 60px;
    margin-bottom: -7px;
  }
  .news-3 article p {
    margin-top: 40px;
  }
  .news-3 .news-link {
    z-index: 1;
  }
  .news-3 .overflow-img {
    overflow: hidden;
    height: 220px;
  }
  .news-3 img {
    height: 100%;
  }
  .news-3 img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0.6;
  }
  .news-1 .read-more,
  .news-2 .read-more,
  .news-3 .read-more {
    margin-top: 45px;
  }
  .news-1 footer,
  .news-2 footer,
  .news-3 footer {
    margin-top: 37px;
    font-size: 0.9rem;
  }
  #name,
  #email {
    width: 550px;
  }
  label[for=marketing] {
    width: 1080px;
  }
  fieldset {
    width: 1160px;
  }
  .partner-1,
  .footer-lists,
  .footer-address,
  hr,
  .footnote {
    width: 1200px;
  }
  .footer {
    width: 1240px;
    margin: 0 auto;
  }
  .footer-lists,
  .footer-address {
    display: -ms-inline-grid;
    display: inline-grid;
  }
  .footer-lists {
    width: 500px;
  }
  .footer-address {
    width: 700px;
  }
  .our-services {
    margin-left: -100px;
  }
  .partner-2 {
    width: 1100px;
    grid-gap: 30px 80px;
  }
  .silver-micro {
    width: 120px;
    height: 70px;
  }
  .future-50 {
    width: 55px;
    height: 90px;
  }
  .qms {
    width: 70px;
  }
  .silver-norfolk {
    width: 180px;
  }
  .investing-future,
  .skills-of-tomorrow {
    width: 170px;
  }
  .payment-code {
    width: 270px;
    margin-top: -50px;
  }
}
/*# sourceMappingURL=base.css.map */