//  imports
@import "footer";
@import "form";
@import "bio";
@import "news";
@import "read-more-grid";
@import "image-slides";
@import "header-bar";
@import "partners";
 
 
 body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
   //  max-width: 95%;
    margin: auto;
    background-color: #fefefe;
    overflow-x: hidden;
    // Had weird overflow issues, don't know what was causing it other than the sub nav, 
    //this fixed it but feels like it should break something
    
 }

 li {
    list-style: none;

 }
 li a:hover {
    text-decoration: underline;
 }

 a {
    text-decoration: none;
    color: inherit;
       
 }

 .sticky {

   position: sticky;
   top: 0;
   padding-top: 1px;
   z-index: 3;
   background-color: white;
   transition: 0.3s top cubic-bezier(.3, .73, .3, .74);
 }

 .no-stick {
    position: sticky;
    top: -250px;
    padding-top: 1px;
    z-index: 3;
    background-color: white;
    transition: 0.3s top cubic-bezier(.3, .73, .3, .74);
 }

//  .slide {

//     transition: height 2s ease-out;
//     height: 0;
//     overflow: hidden;
//  }

//  footer {
//    background-color: #333645;
//    color: white;
//  }

//  .footer {
 
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-around;
//  }

//  .footnote {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
    
//  }

//  .social {
//    display: flex;
//    justify-content: flex-end;
//    width: 100px;

//  }

 .partner-2, .partner-1 {
    display:none;

 }

 // media query imports
 @import "media-queries";