.head {

    background-color: white;

    & p {

        display: none;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 0.9rem;
        background-color: white;
    }

    & h1 {

        color: white;
        height: 88px;
        padding-top: 22px;
        box-sizing: border-box;
        padding-left: 8px;
        margin-top: 0px;
        font-weight: normal;
        font-size: 2.2rem;
    }

    & .title-background {

        background-color: #333645;
    }
}

.office-background {

    padding-top: 70px;
    padding-bottom: 50px;
}

.office-card {

    width: 90vw;
    margin: 10px auto;
    border: 1px solid rgb(167, 167, 167);
    border-top: none;
    border-radius: 3%;
    transition: all 0.5s ease;

    &:hover {

        transform: translate(0, -5px);
    }

    & img {

        background-size: cover;
        width:100%;
    }

    & address {

        color: rgb(158, 158, 158);
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    & h3 {

        margin-top: 25px;
    }

    & address,
    & h3 {

        padding-left: 20px;
        font-style: normal;
        font-weight: normal;

        & a {

            color: #926fb1;
            font-size: 1.7rem;
            font-weight: bold;
        }
    }

    & .office-btn {

        width: 100px;
        height: 20px;
        background-color: #926fb1;
        color: white;
        border: 1px solid #926fb1;
        border-radius: 4%;
        padding: 12px 20px;
        margin: 15px 0 20px 20px;
        font-size: 0.9rem;
        text-align: center;

        &:hover {

            background-color: #7e57a0;
            border-color: #735093;
            cursor: pointer;
        }
    }
}

.office-info {

    font-size: 1rem;
    line-height: 2rem;
    color: rgb(58, 58, 58);
    width: 90vw;
    margin: 0 auto;
    

    & a {

        color: #926fb1;
        font-size: 1.5rem;
    }

    & .drop-down {

        &:hover {

            cursor: pointer;
            text-decoration: underline;
        }
    }

    & .drop-down-info {

        color: rgb(114, 113, 113);
        overflow: hidden;
        transition: all 1s ease;
    }

    & .drop-down-hours {

        font-weight: bold;
        color: rgb(58, 58, 58);
    }
}

// .move-up {

//     z-index: 2;
//     position: relative;
//     background-color: white;
//     margin-top: -330px;
//     transition: all 3s ease;
// }

.office-form {

    width: 90vw;
    margin: 50px auto 0;

    & form {

        background-color: #e6e7e9;
        border: 3px solid #e6e7e9;
        border-radius: 2%;

        & fieldset {

            width: 70%;
            padding: 0;

            & input[type=text] {

                width: 80%;
            }

            & textarea {

                width: 90%;
                height: 100px;

                border: none;
                box-sizing: border-box;
                margin: 5px 20px 20px 0px;
                padding: 12px 8px;
                min-width: 80vw;
            }

            & input[type=submit] {

                background-color: #926fb1;
                border-color: #926fb1;

                &:hover {

                    background-color: #7e57a0;
                    border-color: #735093;
                }
            }
        }
    }
}

.contact-page {

    & iframe {

        width: 90vw;
    }

    & .map {

        width: 90vw;
        
    }
}

.card-1,
.card-2,
.card-3 {

    width: 90vw;
    margin: 0 auto;
}