.cookies {

    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(80, 80, 80);
    line-height: 2rem;
    position: relative;
    z-index: 5;
    background-color: white;

    & h3 {

        font-weight: 500;
        font-size: 1.5rem;
        padding: 10px 15px 0px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    & p {

        padding: 20px 15px 40px;
        border-top: solid rgb(216, 216, 216) 1px;
        border-bottom: solid rgb(216, 216, 216) 1px;
        font-size: 0.99rem;
    }

    & .settings,
    & .accept {

        display: inline-block;
        color: white;
        font-size: 1.1rem;
        padding: 5px;
        width: 93%;
        margin: 5px 10px 15px;
        text-align: center;
        border-radius: 2%;
        text-transform: uppercase;
        height: 50px;
    }

    & .settings {

        background-color: rgb(153, 153, 153);
        border: solid rgb(153, 153, 153) 1px;
        margin-bottom: 20px;

        &:hover {

            cursor: pointer;
            background-color:#84858f;
            border-color:#84858f;
        }
    }

    & .accept {

        background-color: #926fb1;
        border: solid #926fb1 1px;

        &:hover {

            cursor: pointer;
            background-color:#7e57a0;
            border-color:#7e57a0;
        }
    }
}

.cookie-pop-up {

    border: 1px solid white;
    border-radius: 0.9%;
    padding: 0px;
    width: 85vw;
}

dialog::backdrop {

    background: rgba(0, 0, 0, 0.75);
}

.cookie-settings {

    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    overflow-y: scroll;
    padding: 0 20px;

    & strong {

        color: black;
        font-size: 1rem;
    }

    & p,
    & li {

        color: gray;
        font-size: 0.9rem;
        padding-right: 20px;
    }

    & a {

        color:rgb(65, 65, 65);
    }

    & li {

        list-style: disc;
    }

    & .preferences {

        & h3 {

            font-size: 1.7rem;
            font-weight: normal;
            margin: 20px 0 10px;
        }
    }

    & .functional,
    & .analytics {

        & h2 {

            font-size: 2.5rem;
            font-weight: normal;
        }
    }

    & .analytics {

        & li {

            font-size: 1rem;
        }
    }

    & .detailed {

        & li {

            font-size: 1rem;

            & a:hover {

                cursor: pointer;
            }
        }
    }

    & .enable,
    & .disable,
    & .cancel,
    & .continue,
    & .show-detailed {

        display: inline-block;
        color: white;
        font-size: 1.1rem;
        padding: 13px 5px 5px;
        margin: 5px 10px 15px 0;
        text-align: center;
        border-radius: 2%;
        text-transform: uppercase;
        height: 30px;

        &:hover {

            cursor: pointer;
        }
    }

    & .enable,
    & .disable {

        color: rgb(184, 184, 184);
        background-color: white;
        border: 1px solid #f0f0f0;; 
        border-radius: 5%;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
    }

    & .selected {

        color: white;
        border-color: #926fb1;
        background-color: #926fb1;
    }

    & .cancel {

        width: 100px;
        background-color: #84858f;
        border: solid rgb(153, 153, 153) 1px;
        margin-right: 1px;
    }

    & .show-detailed {

        width: 270px;
        background-color: #84858f;
        border: solid rgb(153, 153, 153) 1px;
        margin-bottom: 20px;
    }

    & .continue {

        width: 200px;
        background-color: #926fb1;
        border: solid #926fb1 1px;
        margin-left: 1px;
    }

    & .detailed-table {

        margin-top: 10px;
        margin-bottom: 25px;
        overflow-x: auto;
        border-spacing: 1px;

        & .col-1 {

            width: 15%;
        }

        & .col-2 {

            width: 50%;
        }

        & .col-3 {

            width: 35%;
        }

        & th {

            background-color:#aaa;
            color: white;
            padding: 15px;
            text-align: left;

            &:nth-of-type(2) {

                width: 300px;
            }

            &:last-child {

                min-width: 176px;
            }
        }

        & td {

            background-color: #ddd;
            padding: 15px;

            &:nth-of-type(2) {

                width: 300px;
                word-break: break-word;
            }
        }
    }
}