footer {
  background-color: #333645;
  color: white;
}
// this doesn't override the other footer colours because of the cascade

hr {

  margin-left: 15px;
  margin-right: 10px;
  margin-top: 20px;
}

.footer {

        & address {

          font-style: normal;
        }
 
        // display: grid;

        // flex-wrap: wrap;
        justify-content: space-around;
        // background-color: #333645;
        // color: white;
        padding: 20px 0;
        font-size: 0.85rem;
        margin: 0 10px;
        }

        .footer h3 {

          margin-top: 30px;
          margin-bottom: 30px;
          text-transform: uppercase;
        }
       
        .footnote {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
          //  flex-wrap: wrap;
          //  justify-content: space-around;
          font-size: 14px;
          padding: 7px;
          margin: 0 10px;
           
        }

        p a:hover,
        .tel:hover {

          text-decoration: underline;
        }
       
        .social {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          // justify-content: flex-end;
          width: 120px;
          height: 22px;
          justify-self: end;
          margin-top: 10px;
          text-align: center;
          
        }

        .footer-lists {

          line-height: .7rem;
        }

        .fa-facebook-f:hover {

          border: 9px solid #3b5998;
          background-color:#3b5998;
          border-radius: 50%;
          width: 12px;
          transform: translateY(-8px);
          
        }

        .fa-twitter:hover {

          border: 9px solid #00aced;
          background-color: #00aced;
          border-radius: 50%;
          width: 12px;
          transform: translateY(-8px);
          
        }

        .fa-instagram:hover {

          border: 9px solid #d93175;
          background-color: #d93175;
          border-radius: 50%;
          width: 12px;
          transform: translateY(-8px);
          
        }

        .fa-linkedin-in:hover {

          border: 9px solid #0077b5;
          background-color: #0077b5;
          border-radius: 50%;
          width: 12px;
          transform: translateY(-8px);
          
        }
      

  .footer-lists,
  .footer-address {

    display: flex;
    justify-content: space-evenly;
    // grid-template-columns: repeat(auto-fit, 200px);
    flex-wrap: wrap;
  }

  .footer-address {

    margin-bottom: 40px;
  }

.about-netmatters {

  width: 187px;
}

.our-services {

  width: 179px;
}

.address-2 {

  padding: 0 5px;
}