form {
    background-color: #ddd;
    color: #333645;
    padding: 20px;

    font-size: 1.2rem;
}

fieldset {

    border-style: none;
}

legend {

    font-size: 2rem;
    padding-top: 30px;
}

input[type=text] {
    border: none;
    margin: 5px 20px 20px 0px;
    padding: 12px 8px;
    min-width: 85vw;
    
}
input[type=text]:focus {

    outline: #5bc0de solid 1px;
    box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8)
}

.asterisk:after {
    content: "*";
    color: red;
    padding-left: 5px;
}

.name, .email {
    display: inline-flex;
    
    
}

input[type=submit] {

    background-color: #333645;
    color: white;
    padding: 15px 17px;
    border-radius: 5%;
    margin: 22px 0px;
    text-transform: uppercase;
    border-style: none;
    font-size: 0.95rem;

    &:hover {

        background-color: rgb(36, 36, 36);
    }

}

input[type=checkbox] {

    float: left;
    margin-bottom: 67px;
    margin-left: -1px;
}

input[type=checkbox], 
label[for=marketing] {

    cursor: pointer;
}

label {
    
    font-weight: bold;
    font-size: 15px;
    line-height: 2rem;
}

label[for=marketing] {

    font-size: 1rem;
    // font-weight:400;
    margin-left: 5px;
    max-width: 80vw;
    display: inline-block;
}

form a {

    text-decoration: underline;

    &:hover {

        color: black;
    }
}

input[type=checkbox] {
    width: 27px;
    height: 27px;
    // appearance: none;
    margin-right: 10px;
    // background-color: #ddd;
    outline: #333645 solid 3px;
    outline-offset: -2px;
    display: inline-block;
    // box-shadow: none;
    accent-color: #333645;
  }
  
  input[type=checkbox]:focus {
    box-shadow: none;
    border: none;
  }
  
//   input[type=checkbox]:checked {
//     background-color: #333645;
//     color: #333645;
//     line-height: 15px;
//     content: "U+2713";
//   }