header {

    display: relative;
    margin-bottom: 5px;
    height: 103px;
}

header form {


    display: flex;
    flex-flow: row no-wrap;
    background-color: white;
    margin: 0;
    padding: 0;
    top: 95px;
    position: absolute;
    // width: 90vw;
    right: 13px;
    left: 10px;
    height: 70px;

}


header img {

    width: 65vw;
    max-width: 400px;
    margin: 56px 15px 0 10px;
    display: block;
    transform: translateY(-50%);
}

header input[type=text] {

    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(201, 201, 201);
    flex-grow: 2;
    margin-right: 0;
    width: 95%;

    &:focus {

        outline: none;
        box-shadow: none;
    }
}

header button[type=submit] {

    height: 35px;
    // margin-left: -50px;
    margin-top: 10px;
    border-style: none;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    // top: 5px;
    background-color: rgb(231, 231, 231);

    &:hover {

        background-color: rgb(231, 231, 231);
        cursor: pointer;
    }
}

.support, .contact {

    display: none;
}

.phone {

    position: absolute;
    top: 45px;
    right: 90px;
    color: #333645;


    &:hover {

        text-decoration: underline;
        color: #24262e;
        border-bottom: 2px solid black;
    }
}

.fa-bars {

    font-size: 1.7rem;
    margin-bottom: 3px;
}

.fa-phone-alt {

    font-size: 1.4rem;
}

.menu {

    position: absolute;
    right: 12px;
    top: 27px;
    background-color: #333645;
    color: white;
    text-transform: uppercase;
    width: 65px;
    height: 55px;
    border-color:#333645;
    border-radius: 5%;
    padding: 0px;
    padding-top: 5px;
    z-index: 1;
    text-align: center;

    &:hover {

        background-color: #24262e;
        cursor: pointer;
    }
}