.header {

    display: relative;
    padding-bottom: 5px;
    height: 110px;
}

header form {


    display: flex;
    flex-flow: row no-wrap;
    background-color: white;
    margin: 0;
    padding: 0;
    top: 95px;
    position: absolute;
    // width: 90vw;
    right: 13px;
    left: 10px;
    height: 70px;

}


header img {

    width: 65vw;
    max-width: 400px;
    margin: 56px 15px 0 10px;
    display: block;
    transform: translateY(-50%);
}

header input[type=text] {

    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(201, 201, 201);
    flex-grow: 2;
    margin-right: 0;
    width: 95%;
    font-size: 0.9rem;
    color: #4f4f4f;
    padding-left: 15px;

    &:focus {

        outline: none;
        box-shadow: none;
    }
}

header button[type=submit] {

    height: 35px;
    // margin-left: -50px;
    margin-top: 10px;
    border-style: none;
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    // top: 5px;
    background-color: rgb(231, 231, 231);

    &:hover {

        background-color: rgb(231, 231, 231);
        cursor: pointer;
    }
}

.support, .contact {

    display: none;
}

.phone {

    position: absolute;
    top: 45px;
    right: 90px;
    color: #333645;


    &:hover {

        text-decoration: underline;
        color: #24262e;
        border-bottom: 2px solid black;
    }
}

.fa-bars {

    font-size: 1.7rem;
    margin: 0 5px 3px;
}

.fa-phone-alt {

    font-size: 1.4rem;
}

.menu {

    position: absolute;
    top: 27px;
    right: 12px;
    background-color: #333645;
    color: white;
    text-transform: uppercase;
    width: 65px;
    height: 55px;
    border-color:#333645;
    border-radius: 5%;
    padding: 0px;
    padding-top: 5px;
    z-index: 1;
    text-align: center;
    font-size: 0.75rem;

    & p {

        margin-top: 5px;
    }

    &:hover {

        background-color: #24262e;
        cursor: pointer;
    }
}

.nav-bar,
.background-fix-5 {
    
    display: none;

}

.small-text {

    font-size: 0.6rem;
    line-height: 0.1rem;
    margin-top: 13px;
    margin-bottom: -14px;
    
}

.large-text {

    font-size: 1.2rem;
}

.bespoke-nav,
.it-nav,
.marketing-nav,
.telecom-nav,
.web-nav,
.security-nav,
.developer-nav {

    border-right: 1px solid hsla(0, 0%, 100%, .1);
    border-left: 1px solid rgba(0, 0, 0, .25);
    padding: 20px 0 5px;

    & p {

        text-transform: uppercase;
    }
}

.telecom-nav {

    padding-bottom: 10px;

    & .fa-phone-alt {

        font-size: 1.1rem;
    }
}

.bespoke-icon {

    color: #67809f;
}

.bespoke-nav {

    &:hover {

        background-color: #67809f;
        cursor: pointer;

        & .bespoke-icon {

            color: white;
        }
    }
}

.it-icon {

    color: #4183d7;
}

.it-nav {

    &:hover {

        background-color: #4183d7;
        cursor: pointer;

        & .it-icon {

            color: white;
        }
    }
}

.market-icon {

    color: #2ecc71;
}

.marketing-nav {

    &:hover {

        background-color: #2ecc71;
        cursor: pointer;

        & .market-icon {

            color: white;
        }
    }
}

.tele-icon {

    color: #d64541;
}

.telecom-nav {

    &:hover {

        background-color: #d64541;
        cursor: pointer;

        & .tele-icon {

            color: white;
        }
    }
}

.web-icon {

    color: #926fb1;
}

.web-nav {

    &:hover {

        background-color: #926fb1;
        cursor: pointer;

        & .web-icon {

            color: white;
        }
    }
}

.security-icon {

    color: #f62459;
}

.security-nav {

    &:hover {

        background-color: #f62459;
        cursor: pointer;

        & .security-icon {

            color: white;
        }
    }
}

.developer-icon {

    color: #926fb1;
}

.developer-nav {

    &:hover {

        background-color: #926fb1;
        cursor: pointer;

        & .developer-icon {

            color: white;
        }
    }
}

.sub-nav {

    z-index: 1;
    position: relative;
    margin-top: -22px;
    cursor: auto;
}

.telecom-nav {

    & .sub-nav {

        margin-top: -20px;
    }
}

.bespoke-nav-sub,
.it-nav-sub,
.market-nav-sub,
.tele-nav-sub,
.web-nav-sub,
.security-nav-sub,
.dev-nav-sub {

    display: none;
    text-align: center;
    color: white;

    & a:hover {

        text-decoration: none;
    }

}

.menu-icon,
.menu-icon-2,
.menu-icon-3 {

    background-color: white;
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    margin-left: 17px;
    transition: 0.2s ease-in;
}