.image-slideshow {

    position: relative;
    display: block;
    // // background-image: url("../Images/placeholder stock.avif");
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 83vh;
    width: 100vw;
    min-height: 500px;
    // overflow: hidden;

    & .slide-1,
      .slide-2,
      .slide-3,
      .slide-4,
      .slide-5,
      .slide-6 {

        position: relative;
        width: 100vw;
        height: 83vh;
        display: inline-block;
        background-position: center;
        min-height: 500px;
    }

    & h1, 
    p {

        // position: absolute;
        color: white;
        text-align: center;
    }

    & h1 {

        font-size: 2.8rem;
        font-weight: 400;
        line-height: 3.3rem;
        text-transform: uppercase;
    }

    & p {

        font-size: 1.17rem;
        line-height: 2rem;
    }


    & .image-btn {

        text-transform: uppercase;
        // position: absolute;
        padding: 21px 18px;
        background-color: #67809f;
        color: white;
        border-color: #67809f;
        border-style: none;
        border-radius: 3%;
        font-size: 1.1rem;
        // font-weight: bold;
        // margin: 0 auto;

        & .fa-arrow-right {

            padding-left: 15px;
            font-size: 1.2rem;
        }

        &:hover {

            cursor: pointer;
            background-color: #4e647e;
        }
    }

    .slide-1 {

        background-image: linear-gradient(270deg, #00000078  25%, #000), url("../Images/slide-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slide-2 {

        background-image: linear-gradient(270deg, #00000078  25%, #000), url("../Images/slide-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        & .image-btn {

            background-color: #4183d7;

            &:hover {

                cursor: pointer;
                background-color: #2a6ec6;
            }
        }
    }

    .slide-3 {

        background-image: linear-gradient(270deg, #00000078  25%, #000), url("../Images/slide-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        & .center-button {

            width: 311px;
        }

        & .image-btn {

            background-color: #2ecc71;
            width: 275px;

            &:hover {

                cursor: pointer;
                background-color: #26ab5f;
            }
        }
    }

    .slide-4 {

        background-image: linear-gradient(270deg, #00000078  25%, #000), url("../Images/slide-4.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        & .image-btn {

            background-color: #d64541;

            &:hover {

                cursor: pointer;
                background-color: #c42e2a;
            }
        }
    }

    .slide-5 {

        background-image: linear-gradient(270deg, #00000078  25%, #000), url("../Images/slide-5.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        & .image-btn {

            background-color: #926fb1;

            &:hover {

                cursor: pointer;
                background-color: #7e57a0;
            }
        }
    }

    .slide-6 {

        background-image: linear-gradient(270deg, #00000078  25%, #000), url("../Images/slide-6.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        & .image-btn {

            background-color: #f62459;

            &:hover {

                cursor: pointer;
                background-color: #e80a42;
            }
        }
    }
}

.image-content-centering {

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 90%;
    min-height: 500px;
}

.image-content {

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    // top: 25%;
    width: 80vw;
    // changing this from absolute seems to break the image sizes on mobile? 
}

.center-button {

    margin: 45px auto 0;
    width: 210px;
}

.slick-initialized {

    overflow: hidden;
}
// This seemed to fix a lot of the responsive viewing issues, i don't know whether it fixed all of them
// but it seems to be good now?