.image-slideshow {

    position: relative;
    display: block;
    // // background-image: url("../Images/placeholder stock.avif");
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 83vh;
    width: 100vw;
    min-height: 400px;
    // overflow: hidden;

    & .slide-1,
      .slide-2,
      .slide-3,
      .slide-4,
      .slide-5,
      .slide-6 {

        position: relative;
        width: 100vw;
        height: 100%;
        display: inline-block;

        &:before {

            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(270deg, transparent 25%, #000);
            }
    }

    & img {

        width: 100vw;
        height: 83vh;
        object-fit: cover;
    }

    & h1, 
    p {

        // position: absolute;
        color: white;
        text-align: center;
    }

    & h1 {

        font-size: 2.8rem;
        font-weight: 400;
        line-height: 3.3rem;
        text-transform: uppercase;
    }

    & p {

        font-size: 1.17rem;
        line-height: 2rem;
    }


    & .image-btn {

        text-transform: uppercase;
        // position: absolute;
        padding: 21px 18px;
        background-color: #67809f;
        color: white;
        border-color: #67809f;
        border-style: none;
        border-radius: 3%;
        font-size: 1.1rem;
        // font-weight: bold;
        // margin: 0 auto;

        & .fa-arrow-right {

            padding-left: 15px;
            font-size: 1.2rem;
        }

        &:hover {

            cursor: pointer;
            background-color: #4e647e;
        }
    }

    .slide-2 {

        & .image-btn {

            background-color: #4183d7;

            &:hover {

                cursor: pointer;
                background-color: #2a6ec6;
            }
        }
    }

    .slide-3 {

        & .center-button {

            width: 311px;
        }

        & .image-btn {

            background-color: #2ecc71;
            width: 275px;

            &:hover {

                cursor: pointer;
                background-color: #26ab5f;
            }
        }
    }

    .slide-4 {

        & .image-btn {

            background-color: #d64541;

            &:hover {

                cursor: pointer;
                background-color: #c42e2a;
            }
        }
    }

    .slide-5 {

        & .image-btn {

            background-color: #926fb1;

            &:hover {

                cursor: pointer;
                background-color: #7e57a0;
            }
        }
    }

    .slide-6 {

        & .image-btn {

            background-color: #f62459;

            &:hover {

                cursor: pointer;
                background-color: #e80a42;
            }
        }
    }
}

.image-content {

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    width: 80vw;
}

.center-button {

    margin: 45px auto 0;
    width: 210px;
}