// first break point 768px. search bar changes, phone disappears, grid becomes 3 columns + 2x2,
// news becomes two side by side, partners appear, footer 2x3

@media screen and (min-width: 768px) {
    
    .cookie-pop-up {

        width: 600px;

        & .cookies {

            height: 370px;
            overflow-y: hidden;
        }

        & .settings,
        & .accept {

            width: 268px;
        }
    }

    .cookie-settings-container {

        width: 750px;
        margin: 0 auto;
    }

    .cookie-settings {

        & .detailed-table {

            width: 100%;

            & th {

                &:nth-of-type(2) {
    
                    width: unset;
                }

                &:last-child {

                    min-width: unset;
                }
            }

            & td {

                &:nth-of-type(2) {

                    width: unset;
                }
            }

            .col-3 {

                width: 25.4%;
            }
        }
    }

    .read-more-grid,
    .news-wrapper,
    .latest-fix {

        width: 740px;
        margin: 0 auto;
    }

    .phone {
        display: none;
    }

    .header {

        align-content: center;
        height: 55px;
    }

    header form {

        display: block;
        width: 250px;
        height: 40px;
        z-index: 0;
        top: -35px;
        right: 72px;
        padding-left: 0;
        padding-right: 0;
        left: unset;
    }

    header input[type=text] {

        width: 158px;
        min-width: 20px;
        height: 31px;
        margin-right: 0;
        border: 1px solid #bebec2;
        background-color: white;
        color: #5e5e62;
        box-sizing: unset;
        

        &:focus {

            outline: #5bc0de solid 1px;
            box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8)
        }
    }

    header button[type=submit] {
        position: absolute;
        top: -5px;
        right: 15px;
        height: 58px;
        width: 60px;
        background-color: #999aa2;
        border-radius: 0 5% 5% 0;
        color: white;
        font-size: 1.3rem;

        &:hover {

            background-color: #82838a;
            cursor: pointer;
        }

        & .fa-search {

            font-size: 1.55rem;
        }
        
    }

    .center {

        margin: 0 auto;
        width: 740px;
        position: relative;
    }

    .menu {

        top: -30px;
        right: 0;
        height: 53px;
    }

    header img {

        max-width: 350px;
    }

    .image-slideshow {

        height: 87vh;

        .slide-1,
        .slide-2,
        .slide-3,
        .slide-4,
        .slide-5,
        .slide-6 {

            height: 87vh;
        }
    }

    // .read-more-grid {

    //     width: 740px;
    //     margin: 0 auto;
    // }

    .move-up {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        // width: 768px;
        // margin-right: auto;
        // margin-left: auto;
    }

    .security,
    .developer {

        margin-top: 10px;
    }

    .web,
    .developer {

        margin-left: 15px;
    }

    .telecoms,
    .security {

        margin-right: 15px;
    }

    .web,
    .developer,
    .telecoms,
    .security {

        height: 260px;
        position: relative;

        & .read-more-btn {

            position: absolute;
            bottom: 30px;
            right: 114px;
            
        }
    }

    .bio {

        width: 720px;
        margin: 0 auto;

      & p {

        width: 700px;
      }
    }

    .latest {

        width: 50px;
    }

    .partner-1,
    .partner-2 {

        display: grid;
    }

    .news-wrapper {

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding-top: 55px;
      padding-bottom: 50px;
    }

    .background-fix-3 {

        background: linear-gradient(180deg, rgb(243, 243, 243) 0%, rgba(255,255,255,1) 100%); 
    }

    .news-1,
    .news-2 {

        width: auto;
        margin: 0 15px;
        height: 560px;

        & footer {

            margin-top: 42px;
        }

        & h3 {

            margin-top: 20px;
            height: 48px;
        }

        & article p {

            margin-top: 16px;
            height: 66px;
        }

        & footer {

            margin-top: 30px;
            padding-top: 13px;

            & img {

                height: 48px;
                width: 48px;
            }

            & p {

                font-size: 0.85rem;
                padding-left: 2px;
            }

            & .poster {

                color: rgb(75, 75, 75);
            }
        }
    }

    .news-3 {

        display: none;
    }

    .news-img {

        height: 35%;
    }

    form {

        height: 460px;

        & legend {

            margin-top: 20px;
        }
    }

    fieldset {

        width: 700px;
        margin: 0 auto;
        margin-top: -25px;
    }

    #name,
    #email {

        width: 670px;
        min-width: 650px;
    }

    label[for=marketing] {

        padding-right: 10px;
        display: inline-block;
        width: 600px;
        max-width: 90vw;
    }

    input[type=checkbox] {

        margin-bottom: 20px;
    }

    // .footer {

    //     display: block;
    // }

    .footer-lists {

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 0 auto;
        width: 740px;
    }

    .about-netmatters,
    .our-services {

        width: fit-content;
    }

    .our-services {

        margin-left: -150px;
    }

    .footer-address {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin: 0 auto 40px;
        width: 740px;
    }

    hr {

       margin: 10px auto -5px;
       width: 700px;
      }

      .footnote {

        grid-template-columns: 370px 1fr 1fr;
        width: 700px;
        margin: 0 auto;
    }

    .contact-page,
    .office-card {

        width: 720px;
    }

    .office-background {

        background-color: white;
    }

    .contact-page {

        margin: 0 auto;
    }

    .head {

        border-top: 1px solid black;

        & p,
        & h1 {

            width: 720px;
            margin: 0 auto;
        }

        & h1 {

            padding-left: unset;
        }

        & p {

            display: block;
        }
    }

    .office-info {

        width: unset;
    }

    .office-form {

        width: 720px;
        margin-top: unset;

        & form {

            height: fit-content;

            & fieldset {

                margin-top: unset;

                & input[type="text"],
                & textarea {

                    width: 650px;
                    min-width: unset;
                }
            }
        }
    }

    .contact-page {

        & iframe {
    
            width: unset;
        }
    
        & .map {
    
            width: unset;
            
        }
    }
    
    .card-1,
    .card-2,
    .card-3 {
    
        width: unset;
        margin: unset;
    }

    .main-news {

        & .news-page-img,
        & .news-article {

            width: 740px;
        }

    }

    .news-header {

        & .news-title {

            & h2 {

                width: 740px;
                margin: 0 auto;
            }
        }
    }
    
    .news-page-poster-type {

        width: 740px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .news-type {

        float: right;
        margin-top: -55px
    }

    .news-links-background-fix {

        background-color: white;
        border-top: 1px solid black;
    }

    .news-page-links {

        display: block;
        width: 740px;
        margin: 0 auto;
        padding-bottom: 22px;
    }

    // .job-description {

    //     width: 740px;
    // }
}

// second 992. support/contact header appear, search changes again, drop down header appears,
// image overlay left align, grid 3 in a row + 2x2, bio background logo, form inline name+email

@media screen and (min-width: 992px) {
    
.cookie-settings-container {

    width: 950px;

    & .can-cont-btns {

        margin-left: auto;
        margin-right: 0;
        width: 341px;
    }

    & .en-dis-btns {

        margin-left: auto;
        margin-right: 0;
        width: 190px;
    }
}

.cookie-settings {

    & .detailed-table {

        width: 100%;

        .col-3 {

            width: 18.1%;
        }
    }

}

.pop-out-menu {

    width: 350px;
}

// .darken-page {

//     right: 370px;
// }

.darken {

    left: -370px;
}

// .entire-page {

//     // left: -350px;
// }


    .pop-out-menu {

        .training-menu,
        .events-menu,
        .company-menu,
        .work-menu,
        .knowledge-menu,
        .covid-menu,
        .contact-menu,
        .support-menu,
        .services-menu {

            & ul {

                width: 360px;

                & li {

                    width: 305px;

                    & a {

                        width: 330px;
                    }
                }
            }
        }

        .support-menu {

            display: none;
        }

        .services-menu {

            display: block;
        }
    }

    .bespoke-menu,
    .it-menu,
    .marketing-menu,
    .telecom-menu,
    .web-menu,
    .security-menu,
    .dev-menu,
    .contact-top {

        display: none;
    }

    .empty-menu {

        width: 360px;

        & a {

            width: 360px;
        }
    }

    .read-more-grid,
    .news-wrapper,
    .latest-fix {

    width: 950px;
}

@keyframes slide {

    0% {left: 0;}
    100% {left: -370px;}
}

@keyframes slideBack {

    0% {left: -370px;}
    100% {left: 0;}
}

    .header {

        height: fit-content;
    }

    .support,
    .contact {

        position: absolute;
        display: inline-block;
        width: 140px;
        color: white;
        border: 1px solid;
        border-radius: 5%;
        z-index: 1;
        font-size: 1.15rem;
        text-transform: uppercase;
        text-align: center;
        padding-top: 15px;
        height: 38px;
        top: -29px;

        &:hover {

            cursor: pointer;
        }
    }

    .menu {

        right: 0px;
        top: -28px;
        height: 51px;
    }

    .support {

        right: 35%;
        background-color: #4183d7;
        border-color:#4183d7;
        
        &:hover {

            background-color: #3265a8;
            border-color: #3265a8;
        }
    }

    .contact {

        right: 162px;
        background-color: #999aa2;
        border-color: #999aa2;

        &:hover {

            background-color: #77787e;
            border-color: #77787e;
        }
    }

    .fa-mouse:before,
    .fa-paper-plane:before {

    padding-right: 8px;
    }

    header {

        & .center {

            width: 920px;
        }

        & input[type=text] {

            display: none;
        }

        & button[type=submit] {

            border-radius: 5%;
            position: absolute;
            right: 10px;
            top: -3px;
            height: 55px;

        }
    }

    .nav-bar {

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 920px;
        height: 100px;
        margin: 0 auto;
        text-align: center;
        color: white;
        border-left: 1px solid hsla(0, 0%, 100%, .1);
        border-right: 1px solid rgba(0, 0, 0, .25);
    }

    .bespoke-nav:hover {

        .bespoke-nav-sub {

            display: inline;
            // grid-template-rows: 1fr;
            // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            // position: absolute;
            // bottom: -62px;

            & .nav-sub-links::before {

                content: "";
                background-color: #67809f;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                right: 100%;
            }

            & .nav-sub-links::after {

                content: "";
                background-color: #67809f;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                left: 100%;
                top: 0;
            }

            // & li {

            //     display: inline;
            // }

            & .background-fix-nav {

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(7, max-content);
            }

            & .nav-sub-links {

                width: 920px;
                // display: grid;
                // grid-template-rows: 1fr;
                // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                position: absolute;
                bottom: -49px;
                top: 9px;
                background-color: #67809f;
                font-size: 0.8rem;

                & .link-dash::after {

                    content: "-";
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    .it-nav:hover {

        .it-nav-sub {

            display: inline;

            & .nav-sub-links::before {

                content: "";
                background-color: #4183d7;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                right: 100%;
            }

            & .nav-sub-links::after {

                content: "";
                background-color: #4183d7;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                left: 100%;
                top: 0;
            }


            & .background-fix-nav {

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(6, max-content);
            }

            & .nav-sub-links {

                width: 920px;
                position: absolute;
                bottom: -49px;
                top: 9px;
                background-color: #4183d7;
                font-size: 0.8rem;
                margin-left: -135px;

                & .link-dash::after {

                    content: "-";
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    .marketing-nav:hover {

        .market-nav-sub {

            display: inline;

            & .nav-sub-links::before {

                content: "";
                background-color: #2ecc71;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                right: 100%;
            }

            & .nav-sub-links::after {

                content: "";
                background-color: #2ecc71;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                left: 100%;
                top: 0;
            }


            & .background-fix-nav {

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(6, max-content);
            }

            & .nav-sub-links {

                width: 920px;
                position: absolute;
                bottom: -49px;
                top: 9px;
                background-color: #2ecc71;
                font-size: 0.8rem;
                margin-left: -270px;

                & .link-dash::after {

                    content: "-";
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    .telecom-nav:hover {

        .tele-nav-sub {

            display: inline;

            & .nav-sub-links::before {

                content: "";
                background-color: #d64541;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                right: 100%;
            }

            & .nav-sub-links::after {

                content: "";
                background-color: #d64541;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                left: 100%;
                top: 0;
            }


            & .background-fix-nav {

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(6, max-content);
            }

            & .nav-sub-links {

                width: 920px;
                position: absolute;
                top: 5px;
                bottom: -45px;
                background-color: #d64541;
                font-size: 0.8rem;
                margin-left: -400px;

                & .link-dash::after {

                    content: "-";
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    .web-nav:hover {

        .web-nav-sub {

            display: inline;

            & .nav-sub-links::before {

                content: "";
                background-color: #926fb1;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                right: 100%;
            }

            & .nav-sub-links::after {

                content: "";
                background-color: #926fb1;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                left: 100%;
                top: 0;
            }


            & .background-fix-nav {

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(6, max-content);
            }

            & .nav-sub-links {

                width: 920px;
                position: absolute;
                bottom: -49px;
                top: 9px;
                background-color: #926fb1;
                font-size: 0.8rem;
                margin-left: -530px;

                & .link-dash::after {

                    content: "-";
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    .security-nav:hover {

        .security-nav-sub {

            display: inline;

            & .nav-sub-links::before {

                content: "";
                background-color: #f62459;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                right: 100%;
            }

            & .nav-sub-links::after {

                content: "";
                background-color: #f62459;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                left: 100%;
                top: 0;
            }


            & .background-fix-nav {

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(6, max-content);
            }

            & .nav-sub-links {

                width: 920px;
                position: absolute;
                bottom: -49px;
                top: 9px;
                background-color: #f62459;
                font-size: 0.8rem;
                margin-left: -660px;

                & .link-dash::after {

                    content: "-";
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    .developer-nav:hover {

        .dev-nav-sub {

            display: inline;

            & .nav-sub-links::before {

                content: "";
                background-color: #926fb1;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                right: 100%;
            }

            & .nav-sub-links::after {

                content: "";
                background-color: #926fb1;
                width: 2000px;
                display: block;
                height: 40px;
                position: absolute;
                left: 100%;
                top: 0;
            }


            & .background-fix-nav {

                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(3, max-content);
            }

            & .nav-sub-links {

                width: 920px;
                position: absolute;
                bottom: -49px;
                top: 9px;
                background-color: #926fb1;
                font-size: 0.8rem;
                margin-left: -790px;

                & .link-dash::after {

                    content: "-";
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    .background-fix-5 {

        background-color: #333645;
        display: block;
        margin-bottom: -5px;
        height: 100px;
        margin-top: -5px;
        overflow-x: -moz-hidden-unscrollable;
        overflow-x: clip;
    }

    .image-slideshow {

        height: 80vh;

        .slide-1 {

            background-image: linear-gradient(270deg, transparent  25%, #000), url("../Images/slide-1.jpg");
        }
        .slide-2 {

            background-image: linear-gradient(270deg, transparent  25%, #000), url("../Images/slide-2.jpg");
        }
        .slide-3 {

            background-image: linear-gradient(270deg, transparent  25%, #000), url("../Images/slide-3.jpg");
        }
        .slide-4 {

            background-image: linear-gradient(270deg, transparent  25%, #000), url("../Images/slide-4.jpg");
        }
        .slide-5 {

            background-image: linear-gradient(270deg, transparent 25%, #000), url("../Images/slide-5.jpg");
        }
        .slide-6 {

            background-image: linear-gradient(270deg, transparent 25%, #000),  url("../Images/slide-6.jpg");
        }

    }

    .image-content-centering {

        height: 85%;
    }

    .image-content {

        width: 950px;
        // left: 25px;
        
        
        & h1,
        & p {

            text-align: left;
        }

        & .center-button {

            margin: 45px 0 0;
        }
    }

    .grid-top-row {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .it-support,
    .bespoke,
    .marketing {

        height: 285px;
        position: relative;

        & p {

            font-size: 0.8rem;
        }

        .read-more-btn {

            position: absolute;
            right: 85px;
            bottom: 30px;
        }
    }

    .telecoms,
    .web,
    .security,
    .developer {

        height: 245px;

        & .read-more-btn {

            right: 158px;
        }

        & h3 {

            margin-bottom: 7px;
        }

    }

    .background-fix-2 {

        background-image: url(../Images/logo-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bio {

        width: 920px;

        & p {
  
          width: 900px;
        }
      }

    // .news-img {

    //     height: 40%;
    // }

    
    .news-1,
    .news-2 {

        height: 600px;

        & .read-more {

            margin-top: 30px;
            margin-bottom: 0px;
        }

        & h3 {

            height: unset;
        }

        & article {

            padding-top: 15px;
        }

        & article p {

            margin-top: 40px;
        }

        & footer {

            font-size: 0.9rem;

            & img:hover {

                Transform: none;
                opacity: 1;
                // Screwed up before and made all the images transform,
                // could have probably changed the &img to be more specific, but i'll remember for next time
            }
        }

        & .news-link {

            z-index: 1;
            transition: .3s;

            &:hover {

                .news-link img {

                    transform: scale(1.1);
                    transition: .3s;
                    opacity: 0.6;
                }
            }
        }

        & .overflow-img {

            overflow: hidden;
            height: 220px;

            &:hover img {

                transform: scale(1.1);
                transition: .3s;
                opacity: 0.6;
            }
        }

        & img {

            height: 100%;
            transition: .3s;

            &:hover {

                transform: scale(1.1);
                transition: .3s;
                opacity: 0.6;
            }
        }
    }

    .partner-1,
    .partner-2,
    .footer-lists,
    .footer-address,
    hr,
    .footnote {

        width: 950px;
    }

    form {

        height: 350px;
    }

    fieldset {

        width: 920px;
        margin-top: -5px;
    }

    #name,
    #email {

        width: 435px;
        min-width: 420px;
    }

    label[for=marketing] {

        width: 850px;
    }

    .busseys,
    .crane,
    .beat,
    .diver {

        height: 60px;
    }

    .busseys {

        width: 160px;
    }

    .beat {

        width: 60px;
    }

    .crane {

        width: 240px;
    }

    .diver {

        width: 300px;
    }

    .hover .hover-text {

        bottom: 135%;
    }

    .partner-2 {

        grid-gap: 30px;
        padding-top: 60px;
    }

    .silver-micro {

        width: 180px;
        height: 110px;
    }

    .future-50 {

        width: 110px;
        height: 170px;
        margin-left: 25px;
    }

    .qms {

        width: 130px;
        margin-left: -45px;
    }

    .silver-norfolk {

        width: 250px;
        margin-left: -45px;
    }
    
    .investing-future,
    .skills-of-tomorrow {
    
        width: 170px;
    }

    .skills-of-tomorrow {

        margin-left: 10px;
    }
    
    .princess-royal {
    
        width: 180px;
    }
    
    .payment-code {
    
        width: 270px;
        margin-top: -36px;
        margin-left: -60px;
    }

    .head {


        & h1 {

          display: none;
        }

        & p {

            width: 950px;
        }
    }

    .card-grid {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
      
    }

    .office-background {

        background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
        padding-top: 70px;
    }

    .contact-page {

        width: 950px;
    }

    .office-card {

        width: unset;
    }

    .office-form {

        width: 950px;

        & form {

            & fieldset {

                width: 900px;

                & .your-name,
                & .company-name,
                & .your-email,
                & .your-phone {

                    display: inline-block;
                    width: 447px;
                }

                & #your-name,
                & #company-name,
                & #your-email,
                & #your-phone {

                    width: 95%;
                }

                & textarea,
                & #subject {

                    width: 875px;
                }

                & label[for="marketing"] {

                    width: 840px;
                }
            }
        }
    }

    .contact-page {

        & iframe {
    
            width: 100%;
        }

        & .map {

            width: 100%;
        }
    }


    .news-page-links,
    .news-page-poster-type {

        width: 920px;
    }

    .news-page-poster-type {

        padding-top: 10px;
    }

    .news-header {

        .news-title {

            background-color: unset !important;

            & h2 {

                padding-bottom: 0px;
                color: black;
                width: 920px;
            }

        }
    }

    .main-news {

        background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
        padding-top: 25px;

        & .news-page-img,
        & .news-article {

            width: 920px;
        }

        & .news-article {
            
            & hr {

                width: 920px;
            }
        }
    }

    // .job-description {

    //     width: 920px;
    // }

    .big-list-grid {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 75px;
    }
    
    .skill-list {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

// third 1260. search changes again, grid 3x4, news 3 in a row, footer in row

@media screen and (min-width: 1260px) {

    .cookie-settings-container {

        width: 1200px;

        & tbody {

            width: 1200px;
        }
    }

    .cookie-settings {

        & .detailed-table {

            width: 100%;

            .col-3 {

                width: 14%;
            }
        }

    }

    

    .read-more-grid,
    .bio,
    .news-wrapper,
    .latest-fix {

        width: 1200px;
    }

    header {

        & .center {

            width: 1180px;
        }

        & input[type=text] {

            display: inline-block;
            position: absolute;
            right: 69px;
            width: 230px;
            height: 29px;
            top: 2px;
        }

        & button[type=submit] {
            
            border-radius: 0 5% 5% 0;

            & .fa-search {

                font-size: 1.55rem;
            }
        }

        // & form {

        //     left: unset;
        // }
    }

    .support {

        right: 49%;
    }

    .contact {

        right: 35%
    }

    .nav-bar {

        width: 1180px;

    }

    .bespoke-nav:hover,
    .it-nav:hover,
    .marketing-nav:hover,
    .telecom-nav:hover,
    .web-nav:hover,
    .security-nav:hover,
    .developer-nav:hover {

        & .background-fix-nav {

            font-size: 1rem;
            z-index: 2;
            position: relative;
        }

        // & p {

        //     margin-left: 10px;
        //     // margin-right: 10px;
        // }

    }

    .bespoke-nav:hover {

        .bespoke-nav-sub {

            & .nav-sub-links {

                height: 45px;

                & .link-dash::after {

                    margin-left: 35px;
                    margin-right: 35px;
                }

                &::before,
                &::after {

                    height: 45px;
                }
            }

        }

    }

    .it-nav:hover {

        .it-nav-sub {

            & .nav-sub-links {

                margin-left: -170px;
                height: 45px;

                & .link-dash::after {

                    margin-left: 35px;
                    margin-right: 35px;
                }

                &::before,
                &::after {

                    height: 45px;
                }
            }

        }

    }

    .marketing-nav:hover {

        .market-nav-sub {

            & .nav-sub-links {

                margin-left: -340px;
                height: 45px;

                & .link-dash::after {

                    margin-left: 35px;
                    margin-right: 35px;
                }

                &::before,
                &::after {

                    height: 45px;
                }
            }

        }

    }

    .telecom-nav:hover {

        .tele-nav-sub {

            & .nav-sub-links {

                margin-left: -510px;
                height: 45px;

                & .link-dash::after {

                    margin-left: 35px;
                    margin-right: 35px;
                }

                &::before,
                &::after {

                    height: 45px;
                }
            }

        }

    }

    .web-nav:hover {

        .web-nav-sub {

            & .nav-sub-links {

                margin-left: -680px;
                height: 45px;

                & .link-dash::after {

                    margin-left: 35px;
                    margin-right: 35px;
                }

                &::before,
                &::after {

                    height: 45px;
                }
            }

        }

    }

    .security-nav:hover {

        .security-nav-sub {

            & .nav-sub-links {

                margin-left: -850px;
                height: 45px;

                & .link-dash::after {

                    margin-left: 35px;
                    margin-right: 35px;
                }

                &::before,
                &::after {

                    height: 45px;
                }
            }

        }

    }

    .developer-nav:hover {

        .dev-nav-sub {

            & .nav-sub-links {

                margin-left: -1015px;
                height: 45px;

                & .link-dash::after {

                    margin-left: 35px;
                    margin-right: 35px;
                }

                &::before,
                &::after {

                    height: 45px;
                }
            }

        }

    }

    .image-content {

        width: 1180px;
    }

    .move-up {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .security,
    .developer {
        
        margin-top: 29px;
    }

    .telecoms, .security {
        margin-right: 10px;
    }

    .security,
    .developer, 
    .telecoms, 
    .web {

        height: 255px;

        & p {

            margin-top: 5px;
        }

        & .read-more-btn {

            right: 70px;
        }
    }

    .bespoke,
    .it-support,
    .marketing {

        height: 265px;

        & p {

            font-size: 0.85rem;
        }

        & .read-more-btn {

            right: 127px;
        }
    }

    .bio p {

        width: 550px;
    }

    .news-wrapper {

        grid-template-columns: 1fr 1fr 1fr;
    }

    .news-3 {

        display: block;
        margin: 0 15px;
        height: 600px;
        width: auto;

        & .read-more {

            margin-top: 25px;
            margin-bottom: 0px;
        }

        & h3 {

            margin-top: 20px;
        }

        & article {

            padding-top: 15px;
        }

        & article p {

            margin-top: 40px;
        }

        & footer {

            padding-top: 13px;

            & img {

                height: 48px;
                width: 48px;
            }

            & img:hover {

                Transform: none;
                opacity: 1;
            }

            & .poster {

                color: #4b4b4b;
            }
        }

        & .news-link {

            z-index: 1;
        }

        & .overflow-img {

            overflow: hidden;
            height: 220px;

            &:hover img {

                transform: scale(1.1);
                transition: .3s;
                opacity: 0.6;
            }
        }

        & img {

            height: 100%;
            transition: .3s;

            &:hover {

                transform: scale(1.1);
                opacity: 0.6;
                //possibly repeated code, will test/remove later
            }
        }
    }

    .news-1,
    .news-2,
    .news-3 {

        & .read-more {

            margin-top: 25px;
        }

        & footer {

            margin-top: 27px;
            font-size: 0.9rem;
        }

        & article p {

            height: 66px;
        }
    }

    #name,
    #email {

        width: 550px;
    }

    label[for=marketing] {

        width: 1080px;
    }

    fieldset {

        width: 1160px;
    }

    .partner-1,
    .footer-lists,
    .footer-address {

        width: 1200px;
    }

    .footnote {

        width: 1180px;
    }

    .footer {

        width: 1240px;
        margin: 0 auto;
    }

    .footer-lists,
    .footer-address {

        display: inline-grid;
    }

    .footer-lists {

        width: 500px;
        margin-bottom: 30px;
    }

    .about-netmatters {

        margin-left: -30px;
    }

    .footer-address {

        width: 700px;
    }

    .our-services {

        margin-left: -100px;
    }

    .partner-2 {

        width: 1100px;
        grid-gap: 30px 80px;
    }

    .silver-micro {

        width: 120px;
        height: 70px;
    }

    .future-50 {

        width: 55px;
        height: 90px;
    }

    .qms {

        width: 70px;
    }

    .silver-norfolk {

        width: 180px;
    }

    .investing-future, 
    .skills-of-tomorrow {

        width: 170px;
    }

    .payment-code {
        width: 270px;
        margin-top: -50px;
    }

    .head {

        & p {

            width: 1180px;
        }
    }

    .contact-page {

        width: 1180px;

        & iframe {

            width: 366px;
            height: 300px;
        }

        & .map {

            width: 366px;
        }
    }
    
    .card-1,
    .card-2,
    .card-3 {
    
        width: unset;
        margin: unset;
    }

    .office-info {

        width: 350px;
        float: right;
    }

    .office-form {

        width: 770px;
        margin: 20px 0 0;

        & form {


            & fieldset {

                width: 740px;
                padding-left: 5px;

                & #subject,
                & textarea {

                    width: 710px;
                }

                & .your-name,
                & .company-name,
                & .your-email,
                & .your-phone {

                    // display: inline-block;
                    width: 367px;
                }

                & #your-name,
                & #company-name,
                & #your-email,
                & #your-phone {

                    width: 92%;
                }

                & label[for="marketing"] {

                    width: 600px;
                }
            }
        }
    }


    .news-page-links,
    .news-page-poster-type {

        width: 1180px;
    }

    .news-header {

        .news-title {

            & h2 {

                width: 1180px;
            }

        }
    }

    .main-news {

        & .news-article {

            width: 1180px;
            
                & hr {
    
                    width: 1180px;
                }
        }
    }
}