.pop-out-menu {

    display: none;
    background-color: #333645;
    color: white;
    width: 275px;
    height:100%;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
    // transform: translate(400px);
    // animation: slide 1s forwards;

    & ul {

        padding-left: 0;
        border: 1px solid rgba(0,0,0,.25);
        border-radius: 3%;
        width: 220px;
        margin: 0 auto;
        line-height: 1.5rem;

        & li:not(:first-of-type) {

            border-top: 1px solid hsla(0,0%,100%,.05);
            //li's aren't siblings but the a's are, so this works, change this round later when changing a's and li's
        }

        & li:not(:last-of-type) {

            border-bottom: 1px solid rgba(0,0,0,.45);
        }
       
    }

    & li {

        width: 200px;
        height: fit-content;
        padding: 10px;
        text-align: center;
        background-color: rgba(0,0,0,.25);
        text-transform: uppercase;

        & a {

            width: 214px;
            display: block;
            margin: -10px;
            padding: 10px 10px 10px 0;

            &:hover {

                text-decoration: none;
            }

        }
    }

    .dev-menu {

        & ul {

            margin-bottom: 15px;
        }

    }

    .bespoke-menu,
    .it-menu,
    .marketing-menu,
    .telecom-menu,
    .web-menu,
    .security-menu,
    .dev-menu {

        &:hover {

            & .menu-title {

                background-color: rgba(255,255,255,.05)
            }
        }
    }

    .services-menu {

        display: none;
    }

    .training-menu,
    .events-menu,
    .company-menu,
    .work-menu,
    .knowledge-menu,
    .covid-menu,
    .contact-menu,
    .support-menu,
    .services-menu {

        & .menu-title-2 {

            padding: 0 5px 0 25px;
            margin-left: -10px;
            margin-right: -10px;
            outline: 1px solid rgba(0,0,0,.25);
            border-top: 1px solid rgba(255,255,255,.1);
            text-transform: uppercase;
            height: 47px;
        }

        & ul {

            width: 300px;
            margin: 0 -10px;
            border-radius: 0;

            & li {

                width: 230px;
                text-align: left;
                padding: 10px 25px;
                border-top: 1px solid hsla(0,0%,100%,.05);
                font-size: 0.9rem;

                & a {

                    width: 260px;
                    

                    &:before {

                        content: '\00bb';
                        padding-right: 15px;
                    }
                }
            }
        }

        &:hover {

            & .menu-title-2 {

                background-color: rgba(255,255,255,.05)
            }
        }
    }
}

.darken-page {

    display: none;
    background: #000;
    opacity: 0.4;
    position: fixed;
    top: -56px;
    // right: 295px;
    width: 100%;
    height: 120%;
    z-index: 10;
    cursor: pointer;
    animation: fadeIn ease 2s;
}

// .entire-page {

//     // top: 0;
//     // left: -295px;
// This was the way i did things before the keyframes animations, changing the values in javascript
// doesn't allow for timings on things, but adding and removing classes allows for it?
// Will leave this all here just in case i break it and need it later.
// }

.entire-page {

    width: 100%;
}

.no-darken {

    animation: slideBack ease 0.5s;
    z-index: 2;
    position: relative;
}

.darken {

    position: absolute;
    top: 0;
    left: -295px;
    animation: slide ease 0.5s;
}

.contact-top {

    margin: 15px auto;
    width: 200px;
    height: 38px;
    padding: 10px;
    outline: 1px solid rgba(0,0,0,.25);
    text-align: center;
    border-radius: 3%;
    padding-top: 15px;
    padding-bottom: 0px;
    border: 1px solid rgba(255,255,255,.1);
    text-transform: uppercase;
    font-size: 1.2rem;

    &:hover {

        background-color: rgba(255,255,255,.05)
    }
}

.menu-title {

    margin: 15px auto;
    width: 200px;
    height: 90px;
    padding: 10px;
    outline: 1px solid rgba(0,0,0,.25);
    text-align: center;
    border-radius: 3%;
    padding-top: 25px;
    padding-bottom: 0px;
    border: 1px solid rgba(255,255,255,.1);
    text-transform: uppercase;
}

.empty-menu {

    width: 300px;
    height: 47px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(0,0,0,.25);
    margin-left: -10px;

    & a {

        width: 300px;
        height: 47px;
        display: block;
    }

    &:hover {

        background-color: rgba(255,255,255,.05)
    }
}

// .menu-not-visible {

//     transform: translate(400px);
//     animation: slideBack 0.5s forwards;
// }

// .menu-visible {

//     transform: translate(0px);
//     animation: slide 0.5s forwards;
// }

@keyframes slide {

    0% {left: 0;}
    100% {left: -295px;}
}

@keyframes slideBack {

    0% {left: -295px;}
    100% {left: 0;}
}

@keyframes fadeIn {


    0% {opacity: 0;}
    100% {opacity: 0.4;}
}

@keyframes fadeOut {


    0% {opacity: 0.4;}
    100% {opacity: 0;}
}

main,
.partner-background-fix,
.latest-fix {

    background-color: #fff;
}

// added these here since they're only issues when opening and closing the menu. Anywhere where there was
// a margin caused the menu to open strangely. I think this fixes it.