@use "SCSS/footer.scss";
body {
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

li a:hover {
  text-decoration: underline;
  color: green;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #333645;
  color: white;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footnote {
  display: flex;
  flex-wrap: wrap;
}

.social {
  place-content: flex-end;
}
