.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footnote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}
