.latest {
  background-color: white;
  padding: 30px 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.news-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin: 30px auto;
}

.news-1,
.news-2,
.news-3 {
  border: 1px solid gray;
  border-radius: 5%;
  margin: 10px;
}

.news-1 h3,
.news-2 h3,
.news-3 h3 {
  color: purple;
}

.news-1 h3:hover,
.news-2 h3:hover,
.news-3 h3:hover {
  text-decoration: underline;
}
