//  imports
@import "footer";
@import "form";
@import "bio";
@import "news";
@import "read-more-grid";
@import "image-slides";
@import "header-bar";
 
 
 body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
   //  max-width: 95%;
    margin: auto;
    background-color: #fefefe;
    
 }

 li {
    list-style: none;

 }
 li a:hover {
    text-decoration: underline;
    color: green;
 }

 a {
    text-decoration: none;
    color: inherit;
       
 }

//  footer {
//    background-color: #333645;
//    color: white;
//  }

//  .footer {
 
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-around;
//  }

//  .footnote {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
    
//  }

//  .social {
//    display: flex;
//    justify-content: flex-end;
//    width: 100px;

//  }

 .partner-2, .partner-1 {
    display:none;

 }

 // media query imports
 @import "media-queries";