footer {
  background-color: #333645;
  color: white;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
  font-size: 0.85rem;
}

.footer h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footnote {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  padding: 7px;
}

p a:hover,
.tel:hover {
  text-decoration: underline;
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 120px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer-lists {
  line-height: .7rem;
}

.fa-facebook-f:hover {
  border: 9px solid #3b5998;
  background-color: #3b5998;
  border-radius: 50%;
}

.fa-twitter:hover {
  border: 9px solid #00aced;
  background-color: #00aced;
  border-radius: 50%;
}

.fa-instagram:hover {
  border: 9px solid #d93175;
  background-color: #d93175;
  border-radius: 50%;
}

.fa-linkedin-in:hover {
  border: 9px solid #0077b5;
  background-color: #0077b5;
  border-radius: 50%;
}

form {
  background-color: #ddd;
  color: #333645;
  padding: 20px;
  font-size: 1.2rem;
}

fieldset {
  border-style: none;
}

legend {
  font-size: 2rem;
}

input[type=text] {
  border: none;
  margin: 5px 20px 20px 0px;
  padding: 8px;
  width: 320px;
}

input[type=text]:focus {
  outline: #5bc0de solid 1px;
  -webkit-box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
          box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
}

.asterisk:after {
  content: "*";
  color: red;
  padding-left: 5px;
}

.name, .email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

input[type=submit] {
  background-color: #333645;
  color: white;
  padding: 15px 17px;
  border-radius: 5%;
  margin: 20px 0px;
  text-transform: uppercase;
  border-style: none;
  font-size: 0.95rem;
}

input[type=submit]:hover {
  background-color: #242424;
}

input[type=checkbox] {
  float: left;
}

input[type=checkbox],
label[for=marketing] {
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 15px;
  line-height: 2rem;
}

form a {
  text-decoration: underline;
}

form a:hover {
  color: black;
}

input[type=checkbox] {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  outline: #333645 solid 3px;
  outline-offset: -2px;
  display: inline-block;
  accent-color: #333645;
}

input[type=checkbox]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.bio {
  background-color: #333645;
  color: white;
  padding: 25px 5px 40px 20px;
  line-height: 2rem;
}

.bio h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
}

.bio p {
  font-size: .96rem;
}

.lead-para {
  font-weight: bold;
}

.culture-but {
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.culture-but:after {
  content: '\2192';
  padding-left: 10px;
}

.latest {
  background-color: white;
  padding: 30px 10px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 5px solid black;
  width: 50px;
  margin-left: 10px;
}

.latest h3 {
  margin-left: 0px;
}

.news-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 30px 0;
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(white));
  background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
}

.news-1,
.news-2,
.news-3 {
  border: 1px solid #bdbdbd;
  border-radius: 1%;
  margin: 30px 10px;
  height: 620px;
  width: 93vw;
  background-color: white;
  color: gray;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.news-1 button,
.news-2 button,
.news-3 button {
  background-color: #926fb1;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 11px 15px;
  border-radius: 5%;
  font-size: 1rem;
  margin-top: 22px;
  margin-bottom: 22px;
}

.news-1 button:hover,
.news-2 button:hover,
.news-3 button:hover {
  background-color: #7949a3;
}

.news-1 h3,
.news-2 h3,
.news-3 h3 {
  color: #926fb1;
}

.news-1 h3:hover,
.news-2 h3:hover,
.news-3 h3:hover {
  text-decoration: underline;
}

.news-1 footer,
.news-2 footer,
.news-3 footer {
  background-color: white;
  color: black;
  border-top: 1px solid #bdbdbd;
  margin-top: 10px;
  line-height: 1rem;
}

.news-1 h3,
.news-1 footer,
.news-1 article,
.news-1 button,
.news-2 h3,
.news-2 footer,
.news-2 article,
.news-2 button,
.news-3 h3,
.news-3 footer,
.news-3 article,
.news-3 button {
  margin-left: 25px;
  margin-right: 25px;
}

.poster-img {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.news-img {
  height: 50%;
  width: 100%;
}

.poster {
  margin-top: 20px;
  font-weight: bold;
}

.date {
  color: gray;
}

.news-link {
  top: 20px;
  right: 0;
  background-color: #926fb1;
  color: white;
  width: 50px;
  font-weight: bold;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: auto;
  background-color: #fefefe;
}

li {
  list-style: none;
}

li a:hover {
  text-decoration: underline;
  color: green;
}

a {
  text-decoration: none;
  color: inherit;
}

.partner-2, .partner-1 {
  display: none;
}
/*# sourceMappingURL=base.css.map */