@charset "UTF-8";
footer {
  background-color: #333645;
  color: white;
}

hr {
  margin-left: 15px;
  margin-right: 10px;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
  font-size: 0.85rem;
  margin: 0 10px;
}

.footer h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footnote {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  padding: 7px;
  margin: 0 10px;
}

p a:hover,
.tel:hover {
  text-decoration: underline;
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 120px;
  height: 22px;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: 10px;
  text-align: center;
}

.footer-lists {
  line-height: .7rem;
}

.fa-facebook-f:hover {
  border: 9px solid #3b5998;
  background-color: #3b5998;
  border-radius: 50%;
}

.fa-twitter:hover {
  border: 9px solid #00aced;
  background-color: #00aced;
  border-radius: 50%;
}

.fa-instagram:hover {
  border: 9px solid #d93175;
  background-color: #d93175;
  border-radius: 50%;
}

.fa-linkedin-in:hover {
  border: 9px solid #0077b5;
  background-color: #0077b5;
  border-radius: 50%;
}

form {
  background-color: #ddd;
  color: #333645;
  padding: 20px;
  font-size: 1.2rem;
}

fieldset {
  border-style: none;
}

legend {
  font-size: 2rem;
}

input[type=text] {
  border: none;
  margin: 5px 20px 20px 0px;
  padding: 12px 8px;
  min-width: 75vw;
}

input[type=text]:focus {
  outline: #5bc0de solid 1px;
  -webkit-box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
          box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
}

.asterisk:after {
  content: "*";
  color: red;
  padding-left: 5px;
}

.name, .email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

input[type=submit] {
  background-color: #333645;
  color: white;
  padding: 15px 17px;
  border-radius: 5%;
  margin: 22px 0px;
  text-transform: uppercase;
  border-style: none;
  font-size: 0.95rem;
}

input[type=submit]:hover {
  background-color: #242424;
}

input[type=checkbox] {
  float: left;
  margin-bottom: 67px;
}

input[type=checkbox],
label[for=marketing] {
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 15px;
  line-height: 2rem;
}

label[for=marketing] {
  font-size: 1rem;
  font-weight: 400;
}

form a {
  text-decoration: underline;
}

form a:hover {
  color: black;
}

input[type=checkbox] {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  outline: #333645 solid 3px;
  outline-offset: -2px;
  display: inline-block;
  accent-color: #333645;
}

input[type=checkbox]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.bio {
  background-color: #333645;
  color: white;
  padding: 25px 5px 40px 20px;
  line-height: 2rem;
}

.bio h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
}

.bio p {
  font-size: .96rem;
}

.lead-para {
  font-weight: bold;
}

.culture-but {
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.culture-but:after {
  content: '\2192';
  padding-left: 10px;
}

.latest {
  background-color: white;
  padding: 30px 10px 20px 0;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  width: 50px;
  margin-left: 10px;
}

.news-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 0 0 30px 0;
  padding-top: 10px;
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(white));
  background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-1,
.news-2,
.news-3 {
  position: relative;
  border: 1px solid #bdbdbd;
  border-radius: 1%;
  margin: 30px 0px;
  height: 620px;
  width: 93vw;
  background-color: white;
  color: gray;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.news-1 button,
.news-2 button,
.news-3 button {
  background-color: #926fb1;
  color: white;
  cursor: pointer;
  border-style: none;
  padding: 11px 15px;
  border-radius: 5%;
  font-size: 1rem;
  margin-top: 22px;
  margin-bottom: 22px;
}

.news-1 button:hover,
.news-2 button:hover,
.news-3 button:hover {
  background-color: #7949a3;
}

.news-1 h3,
.news-2 h3,
.news-3 h3 {
  color: #926fb1;
}

.news-1 h3:hover,
.news-2 h3:hover,
.news-3 h3:hover {
  text-decoration: underline;
}

.news-1 footer,
.news-2 footer,
.news-3 footer {
  background-color: white;
  color: black;
  border-top: 1px solid #bdbdbd;
  margin-top: 10px;
  line-height: 1rem;
}

.news-1 h3,
.news-1 footer,
.news-1 article,
.news-1 button,
.news-2 h3,
.news-2 footer,
.news-2 article,
.news-2 button,
.news-3 h3,
.news-3 footer,
.news-3 article,
.news-3 button {
  margin-left: 25px;
  margin-right: 25px;
}

.poster-img {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.news-img {
  height: 50%;
  width: 100%;
}

.poster {
  margin-top: 20px;
  font-weight: bold;
}

.date {
  color: gray;
  margin-top: -5px;
}

.news-link {
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #926fb1;
  color: white;
  width: 50px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: -5px;
}

.news-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.read-more-grid {
  display: -ms-grid;
  display: grid;
  background-color: #f1f1f1;
}

.bespoke,
.it-support,
.marketing,
.telecoms,
.web,
.security,
.developer {
  border: 1px solid #b9b9b9;
  border-radius: 1%;
  background-color: white;
  color: #333645;
  margin: 30px 10px;
  text-align: center;
  font-size: 0.8rem;
  padding: 20px;
}

.bespoke h3,
.it-support h3,
.marketing h3,
.telecoms h3,
.web h3,
.security h3,
.developer h3 {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 10px;
  padding: 0 20px;
}

.bespoke button,
.it-support button,
.marketing button,
.telecoms button,
.web button,
.security button,
.developer button {
  padding: 13px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: white;
  border: 1px solid;
  border-radius: 5%;
}

.header-border {
  border-bottom: 3px solid black;
  background-color: black;
  width: 25px;
  display: inline-block;
  padding-top: 0px;
}

.bespoke button {
  background-color: #67809f;
  border-color: #67809f;
}

.bespoke .bespoke-icon {
  border: 2px solid #67809f;
  border-radius: 50%;
  background-color: #67809f;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.bespoke:hover {
  background-color: #67809f;
  cursor: pointer;
  color: white;
}

.bespoke:hover h3 {
  border-color: white;
}

.bespoke:hover button {
  background-color: white;
  border-color: white;
  color: #67809f;
  cursor: pointer;
}

.bespoke:hover .bespoke-icon {
  border-color: white;
  background-color: white;
  color: #67809f;
}

.bespoke:hover .header-border {
  border-color: white;
}

.it-support button {
  background-color: #4183d7;
  border-color: #4183d7;
}

.it-support .it-icon {
  border: 2px solid #4183d7;
  border-radius: 50%;
  background-color: #4183d7;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.it-support:hover {
  background-color: #4183d7;
  cursor: pointer;
  color: white;
}

.it-support:hover h3 {
  border-color: white;
}

.it-support:hover button {
  background-color: white;
  border-color: white;
  color: #4183d7;
  cursor: pointer;
}

.it-support:hover .it-icon {
  border-color: white;
  background-color: white;
  color: #4183d7;
}

.it-support:hover .header-border {
  border-color: white;
}

.marketing button {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.marketing .market-icon {
  border: 2px solid #2ecc71;
  border-radius: 50%;
  background-color: #2ecc71;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.marketing:hover {
  background-color: #2ecc71;
  cursor: pointer;
  color: white;
}

.marketing:hover h3 {
  border-color: white;
}

.marketing:hover button {
  background-color: white;
  border-color: white;
  color: #2ecc71;
  cursor: pointer;
}

.marketing:hover .market-icon {
  border-color: white;
  background-color: white;
  color: #2ecc71;
}

.marketing:hover .header-border {
  border-color: white;
}

.telecoms button {
  background-color: #d64541;
  border-color: #d64541;
}

.telecoms .tele-icon {
  border: 2px solid #d64541;
  border-radius: 50%;
  background-color: #d64541;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.telecoms:hover {
  background-color: #d64541;
  cursor: pointer;
  color: white;
}

.telecoms:hover h3 {
  border-color: white;
}

.telecoms:hover button {
  background-color: white;
  border-color: white;
  color: #d64541;
  cursor: pointer;
}

.telecoms:hover .tele-icon {
  border-color: white;
  background-color: white;
  color: #d64541;
}

.telecoms:hover .header-border {
  border-color: white;
}

.web button {
  background-color: #926fb1;
  border-color: #926fb1;
}

.web .web-icon {
  border: 2px solid #926fb1;
  border-radius: 50%;
  background-color: #926fb1;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.web:hover {
  background-color: #926fb1;
  cursor: pointer;
  color: white;
}

.web:hover h3 {
  border-color: white;
}

.web:hover button {
  background-color: white;
  border-color: white;
  color: #926fb1;
  cursor: pointer;
}

.web:hover .web-icon {
  border-color: white;
  background-color: white;
  color: #926fb1;
}

.web:hover .header-border {
  border-color: white;
}

.security button {
  background-color: #f62459;
  border-color: #f62459;
}

.security .security-icon {
  border: 2px solid #f62459;
  border-radius: 50%;
  background-color: #f62459;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.security:hover {
  background-color: #f62459;
  cursor: pointer;
  color: white;
}

.security:hover h3 {
  border-color: white;
}

.security:hover button {
  background-color: white;
  border-color: white;
  color: #f62459;
  cursor: pointer;
}

.security:hover .security-icon {
  border-color: white;
  background-color: white;
  color: #f62459;
}

.security:hover .header-border {
  border-color: white;
}

.developer button {
  background-color: #926fb1;
  border-color: #926fb1;
}

.developer .developer-icon {
  border: 2px solid #926fb1;
  border-radius: 50%;
  background-color: #926fb1;
  padding: 20px;
  color: white;
  font-size: 1rem;
}

.developer:hover {
  background-color: #926fb1;
  cursor: pointer;
  color: white;
}

.developer:hover h3 {
  border-color: white;
}

.developer:hover button {
  background-color: white;
  border-color: white;
  color: #926fb1;
  cursor: pointer;
}

.developer:hover .developer-icon {
  border-color: white;
  background-color: white;
  color: #926fb1;
}

.developer:hover .header-border {
  border-color: white;
}

.move-up {
  margin-top: -25px;
}

.image-slideshow {
  position: relative;
  background-image: url("../images/placeholder stock.avif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 83vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
}

.image-slideshow h1,
.image-slideshow p {
  color: white;
  text-align: center;
}

.image-slideshow h1 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-transform: uppercase;
}

.image-slideshow p {
  font-size: 1.17rem;
}

.image-slideshow button {
  text-transform: uppercase;
  padding: 21px 20px;
  background-color: #67809f;
  color: white;
  border-color: #67809f;
  border-style: none;
  border-radius: 3%;
  font-size: 1.1rem;
}

.image-slideshow button:after {
  content: "→";
  padding-left: 15px;
}

.image-slideshow button:hover {
  cursor: pointer;
  background-color: #4e647e;
}

.image-content {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.center-button {
  margin: 45px auto 0;
  width: 210px;
}

header {
  display: relative;
  margin-bottom: 5px;
  height: 103px;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  background-color: white;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  top: 95px;
  position: absolute;
  width: 90vw;
}

header img {
  width: 65vw;
  max-width: 400px;
  margin: 56px 15px 0 10px;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header input[type=text] {
  background-color: #e7e7e7;
  border: 2px solid #c9c9c9;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header input[type=text]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header button[type=submit] {
  height: 35px;
  margin-left: -50px;
  margin-top: 10px;
  border-style: none;
  font-size: 1.2rem;
}

header button[type=submit]:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.support, .contact {
  display: none;
}

.phone {
  position: absolute;
  top: 45px;
  right: 90px;
  color: #333645;
}

.phone:hover {
  text-decoration: underline;
  color: #24262e;
  border-bottom: 2px solid black;
}

.fa-bars {
  font-size: 1.7rem;
  margin-bottom: 3px;
}

.fa-phone-alt {
  font-size: 1.4rem;
}

.menu {
  position: absolute;
  right: 12px;
  top: 27px;
  background-color: #333645;
  color: white;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
  border-color: #333645;
  border-radius: 2%;
  padding: 0px;
}

.menu:hover {
  background-color: #24262e;
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: auto;
  background-color: #fefefe;
}

li {
  list-style: none;
}

li a:hover {
  text-decoration: underline;
  color: green;
}

a {
  text-decoration: none;
  color: inherit;
}

.partner-2, .partner-1 {
  display: none;
}
/*# sourceMappingURL=base.css.map */