@media screen and (min-width: 768px) {
  .read-more-grid,
  .bio,
  .news-wrapper,
  .latest-fix {
    width: 740px;
    margin: 0 auto;
  }
  .phone {
    display: none;
  }
  header {
    -ms-flex-line-pack: center;
        align-content: center;
    height: 55px;
  }
  header form {
    display: block;
    width: 250px;
    height: 40px;
    z-index: 0;
    top: -35px;
    right: 72px;
    padding-left: 0;
    padding-right: 0;
  }
  header input[type=text] {
    width: 158px;
    min-width: 20px;
    height: 31px;
    margin-right: 0;
    border: 1px solid #999aa2;
    background-color: white;
    color: #999aa2;
    font-size: 1.1rem;
  }
  header input[type=text]:focus {
    outline: #5bc0de solid 1px;
    -webkit-box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
            box-shadow: 0 0 5px 1px rgba(91, 192, 222, 0.8);
  }
  header button[type=submit] {
    position: absolute;
    top: -5px;
    right: 15px;
    height: 58px;
    width: 60px;
    background-color: #999aa2;
    border-radius: 0 5% 5% 0;
    color: white;
    font-size: 1.3rem;
  }
  header button[type=submit]:hover {
    background-color: #82838a;
    cursor: pointer;
  }
  .center {
    margin: 0 auto;
    width: 740px;
    position: relative;
  }
  .menu {
    top: -30px;
  }
  header img {
    max-width: 350px;
  }
  .move-up {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .security,
  .developer {
    margin-top: 10px;
  }
  .web,
  .developer {
    margin-left: 15px;
  }
  .telecoms,
  .security {
    margin-right: 15px;
  }
  .web,
  .developer,
  .telecoms,
  .security {
    height: 260px;
  }
  .bio p {
    width: 740px;
  }
  .latest {
    width: 50px;
  }
  .partner-1,
  .partner-2 {
    display: -ms-grid;
    display: grid;
  }
  .news-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding-top: 55px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .background-fix-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(white));
    background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
  }
  .news-1,
  .news-2 {
    width: auto;
    margin: 0 15px;
    height: 560px;
  }
  .news-1 footer,
  .news-2 footer {
    margin-top: 42px;
  }
  .news-1 h3,
  .news-2 h3 {
    margin-top: 15px;
  }
  .news-1 article,
  .news-2 article {
    margin-top: 30px;
  }
  .news-3 {
    display: none;
  }
  .news-img {
    height: 35%;
  }
  form {
    height: 460px;
  }
  form legend {
    margin-top: 20px;
  }
  fieldset {
    width: 720px;
    margin: 0 auto;
  }
  #name,
  #email {
    width: 650px;
    min-width: 650px;
  }
  label[for=marketing] {
    padding-right: 10px;
    display: inline-block;
    width: 600px;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
  }
  .footer-lists {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 740px;
  }
  .our-services {
    margin-left: -130px;
  }
  .footer-address {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto 40px;
    width: 740px;
  }
  hr {
    margin: 10px auto -10px;
    width: 700px;
  }
  .footnote {
    -ms-grid-columns: 370px 1fr 1fr;
        grid-template-columns: 370px 1fr 1fr;
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .read-more-grid,
  .bio,
  .news-wrapper,
  .latest-fix {
    width: 950px;
  }
  header {
    height: 50px;
  }
  .support,
  .contact {
    position: absolute;
    display: inline-block;
    width: 140px;
    color: white;
    border: 1px solid;
    border-radius: 5%;
    z-index: 1;
    font-size: 1.15rem;
    text-transform: uppercase;
  }
  .support:hover,
  .contact:hover {
    cursor: pointer;
  }
  .support,
  .contact,
  .menu {
    height: 55px;
    top: -27px;
  }
  .menu {
    right: 0px;
  }
  .support {
    right: 35%;
    background-color: #4183d7;
    border-color: #4183d7;
  }
  .support:hover {
    background-color: #3265a8;
    border-color: #3265a8;
  }
  .contact {
    right: 162px;
    background-color: #999aa2;
    border-color: #999aa2;
  }
  .contact:hover {
    background-color: #77787e;
    border-color: #77787e;
  }
  .fa-mouse:before,
  .fa-paper-plane:before {
    padding-right: 8px;
  }
  header .center {
    width: 920px;
  }
  header input[type=text] {
    display: none;
  }
  header button[type=submit] {
    border-radius: 5%;
    position: absolute;
    right: 10px;
    top: -3px;
    height: 55px;
  }
  .image-content h1,
  .image-content p {
    text-align: left;
  }
  .image-content .center-button {
    margin: 45px 0 0;
  }
  .grid-top-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .it-support,
  .bespoke,
  .marketing {
    height: 278px;
  }
  .it-support button,
  .bespoke button,
  .marketing button {
    right: 85px;
  }
  .bespoke,
  .it-support,
  .marketing,
  .telecoms,
  .web,
  .security,
  .developer {
    position: relative;
  }
  .bespoke button,
  .it-support button,
  .marketing button,
  .telecoms button,
  .web button,
  .security button,
  .developer button {
    position: absolute;
    bottom: 15px;
  }
  .telecoms button,
  .web button,
  .security button,
  .developer button {
    right: 158px;
  }
  .background-fix-2 {
    background-image: url(../images/logo-background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bio p {
    width: 950px;
  }
  .news-img {
    height: 40%;
  }
  .news-1,
  .news-2 {
    height: 600px;
  }
  .news-1 button,
  .news-2 button {
    margin-top: 60px;
    margin-bottom: -7px;
  }
  .news-1 article,
  .news-2 article {
    margin-top: 40px;
  }
  .news-1 footer,
  .news-2 footer {
    font-size: 0.9rem;
  }
  .partner-1,
  .partner-2,
  fieldset,
  .footer-lists,
  .footer-address,
  hr,
  .footnote {
    width: 950px;
  }
  form {
    height: 350px;
  }
  #name,
  #email {
    width: 420px;
    min-width: 420px;
  }
  label[for=marketing] {
    width: 850px;
  }
  .busseys,
  .crane,
  .beat,
  .diver {
    height: 60px;
  }
  .busseys {
    width: 160px;
  }
  .beat {
    width: 60px;
  }
  .crane {
    width: 240px;
  }
  .diver {
    width: 300px;
  }
  .hover .hover-text {
    bottom: 135%;
  }
  .partner-2 {
    grid-gap: 30px;
    padding-top: 60px;
  }
  .silver-micro {
    width: 180px;
    height: 110px;
  }
  .future-50 {
    width: 110px;
    height: 170px;
    margin-left: 25px;
  }
  .qms {
    width: 130px;
    margin-left: -45px;
  }
  .silver-norfolk {
    width: 250px;
    margin-left: -45px;
  }
  .investing-future,
  .skills-of-tomorrow {
    width: 200px;
  }
  .skills-of-tomorrow {
    margin-left: 10px;
  }
  .princess-royal {
    width: 180px;
  }
  .payment-code {
    width: 300px;
    margin-top: -36px;
    margin-left: -60px;
  }
}

@media screen and (min-width: 1260px) {
  .read-more-grid,
  .bio,
  .news-wrapper,
  .latest-fix {
    width: 1200px;
  }
  header .center {
    width: 1180px;
  }
  header input[type=text] {
    display: inline-block;
    position: absolute;
    right: 69px;
    width: 230px;
    height: 29px;
    top: 2px;
  }
  .support {
    right: 49%;
  }
  .contact {
    right: 35%;
  }
  .image-content {
    width: 90vw;
  }
  .move-up {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .security,
  .developer {
    margin-top: 29px;
  }
  .telecoms, .security {
    margin-right: 10;
  }
  .security button,
  .developer button,
  .telecoms button,
  .web button {
    right: 63px;
  }
  .bespoke button,
  .it-support button,
  .marketing button {
    right: 123px;
  }
  .bio p {
    width: 550px;
  }
  .news-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .news-3 {
    display: block;
    margin: 0 15px;
    height: 600px;
    width: auto;
  }
  .news-3 button {
    margin-top: 60px;
    margin-bottom: -7px;
  }
  .news-3 article {
    margin-top: 40px;
  }
  .news-1 button,
  .news-2 button,
  .news-3 button {
    margin-top: 45px;
  }
  .news-1 footer,
  .news-2 footer,
  .news-3 footer {
    margin-top: 37px;
    font-size: 0.9rem;
  }
  #name,
  #email {
    width: 530px;
  }
  label[for=marketing] {
    width: 1080px;
  }
  .partner-1,
  .partner-2,
  fieldset,
  .footer-lists,
  .footer-address,
  hr,
  .footnote {
    width: 1200px;
  }
  .footer {
    width: 1250px;
    margin: 0 auto;
  }
  .footer-lists,
  .footer-address {
    display: -ms-inline-grid;
    display: inline-grid;
  }
  .footer-lists {
    width: 500px;
  }
  .footer-address {
    width: 700px;
  }
  .our-services {
    margin-left: -100px;
  }
}
/*# sourceMappingURL=media-queries.css.map */